@import "_mixins";

	/*===================================
	=              Access              =
	===================================*/
		

		.access-page {
			font-weight: 600;
			padding-bottom: 0px;
			.logo-st {
				margin-bottom: 0px;
				figure{
					margin-bottom: 0;
				}
			}
			.contact-st {
				margin-bottom: 60px;
			}
			.clear-padding-btn-move {
				&.bot {
					margin-top: 190px;
					margin-bottom: 109px;
				}
			}

			.wp-scroll-page.tab-filter {
				.list-scroll-item {
					> li.active {
						> .item-filter {
						    color: #C3A384;
						    border-color: #C3A384;
						}
					}

					> li {
						> .item-filter {
							font-size: 18px;
						}
					}
				}
			}

			.map {
				position: relative;
				margin-bottom: 30px;
			}

			.box-info {
				position: relative;
				margin-bottom: 35px;
				padding:25px 30px;
				font-size: 16px;
				line-height: 1.5;
				border: 4px solid #C3A384;

				&.last {
					margin-bottom: 120px;
				}

				> p {
					margin-bottom: 5px;

					&.last {
						margin-bottom: 0;
					}
				}
				&.mb-40{
					margin-bottom: 40px;
				}
				&.mb-35{
					margin-bottom: 35px;
				}
				&.mb-45 {
					margin-bottom: 45px;
				}
			}

		}

		.color-primary {
			color: #C3A384;
		}
		
		// Tab title
		.tab-title {
			text-align: center;
			margin: 50px 0 30px;
			font-weight: 600;
			font-size: 24px;
		}

		.heading-title.heading-style-02 {
			margin-bottom: 15px;

			.title.color-primary {
				color: #C3A384;
			}
		}
		

		// Wp list access
		.wp-list-exhibiter.wp-list-access {
			margin-bottom: 45px;

			&.last {
				margin-bottom: 0;
			}

			> .item {
				width: 100%;

				> .item-left {
					width: 45%;

					.link-img:before {
				    	padding-top: 60%;

					}
					.link-img{
						pointer-events:none;
				    	cursor: default;
				    	&:after{
				    		content: none;
				    	}
					}
				}
				> .item-right {
					width: 55%;
				    padding-left: 30px;
					padding-right: 30px;

					> p {
						font-size: 14px;
						margin-bottom: 10px;
					}

					> .group-btn {
						margin-top: 25px;

					 	> .btn {
						    margin-right: 30px;
						    padding: 10px 20px;
						}
					}
				}
			}

			&.wp-list-access-in {
				> .item {
					> .item-right {
						> h4 {
							margin-top: 0;
						}

						> p {
							margin-bottom: 20px;
						}

						> .group-btn {
						    margin-top: 35px;
						}

					}
				}
				
			}

		}
	
	/*=====  End of Access  ======*/

	/*==================================
	=            Responsive            =
	==================================*/
		
		@media (max-width:991px) {
			
			.access-page {
				.line-sp {
					margin: 75px auto 40px auto;
				}
			}
			
			.wp-list-exhibiter.wp-list-access {

				> .item {
					> .item-right {
						> .group-btn {
							> .btn {
							    margin-right: 15px;
							    margin-bottom: 5px;
							}
						}
					}
				}
			}
			
		}
		@media (max-width: 767px) {
			.access-page {
				.clear-padding-btn-move.bot {
					margin-top: 60px;
					margin-bottom: 0px;
				}
			}
		}
		@media (max-width:684px) {

			.access-page {
				.wp-scroll-page.tab-filter {
					.list-scroll-item {
					    position: relative;
						opacity: 1;
						visibility: visible;

						> li {
						    display: inline-block;
						    width: 50%;
						    float: left;

						    > a {
						    	font-size: 13px !important;
					    	    border-bottom: 3px solid #000000;
						    }
						}
					}
				}
			}

			// Tab title
			.tab-title {
				font-size: 18px;
			}
			

			.wp-list-exhibiter.wp-list-access {

				> .item {
					width: 100%;

					> .item-left {
						width: 100%;
						margin-bottom: 30px;
					}
					> .item-right {
						width: 100%;
					    padding-left: 0;
						padding-right: 0;

						> .group-btn {
							> .btn {
							    margin-right: 10px;
							    padding: 10px 5px;
							}
						}
					}
				}
			}

		}
		
		@media (max-width:568px) {
		
			

		}

		@media (max-width:414px) {



		}
	
	/*=====  End of Responsive  ======*/
	
	