@import "_mixins";

/*=======================================
=            Change Language            =
=======================================*/

	body {
		&.language-en {
			.information-area {
				.wp-block-information {
					.wp-list-infor {
						.date,
						.text {
							font-family: artless_groteskmedium;
							font-weight: 500;
						}
					}
				}
			}
		}
	}

/*=====  End of Change Language  ======*/


/*=================================
=            Top Black            =
=================================*/
	.scrollActive {
		.ds-header-black {
			.site-header {
				.main-navigation {
					margin-top: 0;
				}
			}
			.right-site {
				margin-top: 28px;
			}
		}
	}
	.body-bg {
		background-color: #000000;
	}
	
	.section-1 {
		padding-top: 60px;
	}

	.section-2 {
	    padding-top: 120px;
	    padding-bottom: 100px;
	}

	.section-3 {
		padding-top: 145px;
		padding-bottom: 100px;
	}

	.section-4 {
		padding-top: 145px;
	}

	.scrollActive {
		.ds-header-black {
			.header-main {
				@include box-shadow(0px 2px 15px rgba(0, 0, 0, 0.99));
				.logo-site {
					width: 80px;
					margin: 30px 0 10px;
				}
			}
		}
	}
 	.ds-ldpage {
 		background-color: $heading-color;
 	}

 	.ds-ldpage-footer {
 		padding-top: 53px;
 		padding-bottom: 168px;
 	}

 	.wp-ds-ldpage {
 		width: 750px;
 		margin: 0 auto;
 	}

 	.wp-bg-skew {
		position: relative;
		border-top: 3px solid $primary-color;
		border-bottom: 3px solid $primary-color;
		background-color: #727171;
		@include transform(skew(0,-10deg));
		.wp-block-concept,
		.wp-block-contact {
			@include transform(skew(0,10deg));
		}
	}

	.section-2,
	.section-3 {
		.btn {
			&.btn-bg {
			    padding: 10px 43px;
			    min-width: 182px;
			    font-size: 13px;
			}
		}
	}

	
	// Header
 	.ds-header-black {
 		.header-main {
 			background-color: $heading-color;
 			padding: 25px 20px 0 70px;
 			@include box-shadow(none);
 		}
 		.nav-collapse {
 			@include calc(width,'100% - 160px');
 		}
 		&.site-header {
 			.btn-designart {
				min-width: 202px;
				line-height: 2.2;
				padding: 1px 55px 1px 24px;
				line-height: 2.5;
				background-color: $primary-color;
				color: $text-color;
				&:before {
					display: none;
				}
				.icons {
					margin: 0;
					background-color: $gray-color;
					color: $primary-color;
					&:before {
						margin-left: 8px;
					}
				}
			}
 		}
 		.right-site {
		    margin-top: 28px;
 		}
 		.logo-site {
 			width: 160px;
 			max-width: 100%;
 			margin-top: 0;
 		}
 		.list-menu-item {
 			margin-top: 45px;
 			overflow: hidden;
 			> li {
 				margin-left: 34px;
 				a {	
 					position: relative;
 					font-family: artless_groteskregular;
 					color: $white-color;
 					font-size: 13px;
 					letter-spacing: 1px;
 					text-transform: uppercase;
				    padding: 8px 0;
 					&:after {
 						content: "";
 						position: absolute;
 						top: 100%;
 						left: 0;
 						width: 100%;
 						height: 1px;
 						opacity: 0;
 						visibility: hidden;
 						background-color: $white-color;
 						@include transform(translateY(5px));
 						@include transition(all .3s ease-in-out);
 					}
 					&:hover,
 					&.anchor_scroll.active-link {
 						&:after {
 							opacity: 1;
 							visibility: visible;
 							height: 4px;
 							background-color: $primary-color;
 							@include transform(translateY(-10px));
 						}
 					}
 				}
 			}
 		}
 		.main-navigation {
 			li {
 				float: none;
 				display: inline-block;
 				vertical-align: top;
 				line-height: 1.7;
 			}
 		}
 		.social-list {
			.social-item{
				color: $primary-color;
				background-color: transparent;
				border: 1px solid $primary-color;
				&:hover,
				&:focus{
					background-color: $primary-color; 
					border-color: transparent;
					color: $white-color;
				}
			}
		}
 	}

 	//Section Introduce
 	.introduce-area {
 		.wp-first {
 			position: relative;
 			overflow: hidden;
 			.slide-top {
 				position: relative;
 				.item{
					position: relative;
					&:before {
 						content: "";
 						display: block;
 						padding-top: 67%;
 					}
 				}
 			}
 			.wp-block-img {
 				.ratio-img {
 					position: relative;
 					overflow: hidden;
 					
 					img {
 						position: absolute;
 						top: 0;
 						left: 50%;
 						max-width: none;
 						width: 100%;
 						height: 100%;
 						object-fit: cover;
 						object-position: 50% 50%;
						@include transform(translate(-50%,0));
 					}
 				}
 			}
 		}
 		.wp-block-introduce {
 			position: absolute;
 			left: 0;
 			right: 0;
 			top: 0;
 			bottom: 0;
 		}
 		.table-layout {
 			display: table;
 			width: 100%;
 			.table-cell {
 				display: table-cell;
 				vertical-align: middle;
 				text-align: center;
 			}
 			.title,
 			.description {
 				font-family: artless_groteskmedium;
 				color: $primary-color;
 			}
 			.title {
 				font-size: 90px;
 				text-transform: uppercase;
 				letter-spacing: 12px;
 				line-height: 0.5;
 				&.primary-t {
				    position: absolute;
				    top: 90px;
				    left: 64px;
 				}
 				&.second-t {
				    position: absolute;
				    right: 90px;
					bottom: 100px;
 				}
 			}
 			.description {
 				position: absolute;
 				left: 69px;
 				bottom: 97px;
 				text-align: left;
 				max-width: 500px;
 				font-size: 24px;
 				line-height: 1.5;
 			}
 		}
 		.wp-second {
 			.wp-block-infor {
 				padding: 58px 45px 0 54px;
 			}
 			.title {
 				font-family: artless_groteskmedium;
 				letter-spacing: -0.5px;
 				font-size: 32px;
 				color: $primary-color;
 				line-height: 1.3;
 				margin-bottom: 22px;
 			}
 			.description {
 				font-size: 13px;
 				color: $white-color;
 				font-family: $jp-font;
 				line-height: 1.85;
 				font-weight: 500;
 				text-align: left;
 			}
 		}

 	}

 	//Section Concept
	.concept-area {
		position: relative;
 		.wp-padding {
			padding-top: 110px;
			padding-bottom: 110px;
		}
		.wp-block-concept {
			position: relative;
			text-align: center;
		    max-width: 550px;
    		margin: auto;
			.sub-title,
			.title,
			.day,
			.area {
				font-family: artless_groteskmedium;
			}
			.sub-title,
			.title {
				text-transform: uppercase;
				color: $heading-color;
			}
			.day,
			.area {
				color: $primary-color;
			}
			.sub-title {
				font-size: 18px;
				letter-spacing: 0.5px;
			}
			.title {
				font-size: 26px;
				line-height: 1.4;
				letter-spacing: 0.7px;
			}
			.day {
				font-size: 36px;
				line-height: 1.3;
				margin: 25px 0 10px 0;
			}
			.area {
				font-size: 20px;
				line-height: 2.4;
			}
			.list-area {
				margin-top: 8px;
				> li {
					position: relative;
					display: inline-block;
					vertical-align: top;
					&:after {
						content: "/";
					}
					&:last-child {
						content: none;
					}
					span {
						font-family: artless_groteskmedium;
						font-size: 15px;
						color: $text-color;
					}
				}
			}
			.wp-btn {
				margin-top: 41px;
			}
		}
	}

	//Section Information 
	.information-area {
		.wp-block-information {
			background-color: #727171;
			padding: 32px 47px 37px 32px;
			.title {
				text-align: center;
				font-size: 18px;
				font-family: artless_groteskmedium;
				color: $heading-color;
				text-transform: uppercase;
			}
			.wp-list-infor {
				margin-top: 50px;
				li {
					padding-bottom: 10px;
					margin-bottom: 21px;
					border-bottom: 1px solid $primary-color;
				}
				.date,
				.text {
					display: inline-block;
					vertical-align: top;
				}
				.date {
					width: 120px;
					font-size: 12px;
					color: $primary-color;
					font-weight: 600;
				}
				.text {
					@include calc(width,'100% - 125px');
					font-size: 13px;
					font-weight: 600;
					color: $text-color;
					&:hover,
					&:focus {
						color: $primary-color;
					}
				}
			}
			.wp-btn {
			    padding-top: 11px;
				text-align: center;
			}
		}
	}

	//Section Contact
	.contact-area {
		.logo-st {
			margin-bottom: 0;
		}
		.wp-padding {
			padding-top: 50px;
			padding-bottom: 50px;
		}
		.wp-block-contact {
			text-align: center;
			&.landing-st {
				padding-top: 30px;
			}
			.title {
				font-family: artless_groteskmedium;
				color: $heading-color;
				text-transform: uppercase;
				&.first {
					font-size: 18px;
					margin-bottom: 51px;
				}
				&.second {
					font-size: 16px;
				    margin-bottom: 30px;
				}
			}
			&.contact-st {
				.group-btn {
					margin-bottom: 69px;
					> .btn {
					    padding: 9px 20px;
    					text-transform: none;
					}
				}
			}
			.social-list {
				.social-item {
					background-color: $text-color;
					color: $primary-color;
					&:hover,
					&:focus {
						background-color: $primary-color;
						color: $white-color;
					}
				}
			}
		}
	}
	




/*=====  End of Top Black  ======*/



/*==================================
=            Responsive            =
==================================*/

	@media (min-width:1550px) {
		.introduce-area {
			.wp-first {
				.wp-block-img {
					.ratio-img {
						width: 900px;
					}
				}
			}
			.wp-block-introduce {
				width: 750px;
				margin: 0 auto;
			}
			.table-layout {
				.title {
					&.second-t {
    					right: -175px;
					}
					&.primary-t {
						left: -300px;
					}
				}
				.description {
					left: -300px;
				}
			}
		}
	}
	@media (min-width: 1366px) {
		.introduce-area{
			.wp-first{
				.slide-top{
					.item:before{
						padding-top: 500px;
					}
				}
			}
		}
	}
	@media (min-width: 1024px) {
		.introduce-area  {
			.wp-first {
				.wp-block-img {
					.ratio-img {
						width: 62%;
					}
				}

			}
			.wp-block-introduce {
				width: 82%;
			}
			.table-layout{
				 .title.primary-t {
				 	left: 0;
				 }
				 .description {
				 	left: 0;
				 }
				 .title.second-t {
				 	right: 3%;
				 }
			}
		}
	}
	@media (max-width:1200px) {
		
		.ds-header-black {
			.nav-collapse {
				@include calc(width,'100% - 160px');
			}
		}

	}

	@media (max-width:991px) {

		.ds-header-black {
			.list-menu-item {
				> li {
					margin-left: 10px;
					a {
						font-size: 12px;
					}
				}
			}	
		} 

	}

	@media (max-width:1100px) {
		.ds-ldpage-footer {
			padding-top: 25px;
			padding-bottom: 100px;
		}
		&.scrollActive {
			.ds-header-black {
				.header-main {
					padding: 15px 25px 15px 25px;
				}
			}
		}
		.ds-header-black {
			.header-main {
				padding: 30px 25px 12px 25px;
				> .btn-hamberger {
					right: 25px;
					top: 50px;
				}
			}
			.nav-collapse {
				@include calc(width,'100% - 33px');
			}
			.logo-site {
				width: 110px;
			}
			.site-header {
				width: 285px;
				.btn-designart {
					position: static;
				}
				.right-site {
					padding: 10px;
				}
			}
			.btn-hamberger {
				span {
					background: $primary-color;
				}
			}
			.list-menu-item {
			    margin-top: 10px;
    			padding: 0 5px; 
    			> li {
    				a {
    					font-size: 13px;
    					color: $text-color;
    					&.anchor_scroll {
    						&.active-link {
    							color: $primary-color;
    						}
    					}
    					&:after {
    						display: none;
    					}
    				}
    			}
			}
			.main-navigation {
				li {
    				display: block;
				}
			}
		}

		.scrollActive {
			.ds-header-black {
				.header-main {
					.logo-site {
						width: 80px;
						margin: 0 0 5px 0;
					}
					> .btn-hamberger {
						top: 37px;
					}
				}
			}
		}



		.introduce-area {
			padding-top: 70px;
			.wp-block-introduce {
				width: 100%;
			}
			.wp-second {
				.wp-block-infor {
					padding: 55px 0 20px 0;
				}
				.title {
					font-size: 30px;
					line-height: 1.4;
					margin-bottom: 25px;
				}
			}
		}

		.concept-area {
			.wp-padding {
				padding-top: 85px;
				padding-bottom: 100px;
			}
			.wp-block-concept {
				.day {
				    font-size: 30px;
    				line-height: 1.4;
				}
				.area {
					line-height: 1.5;
    				margin-bottom: 20px;
				}
				.list-area {
					> li {
						span {
							font-size: 14px;
						}
					}
				}
				.wp-btn {
					margin-top: 30px;
				}
			}
		}

		.information-area {
			.wp-block-information {
				.wp-list-infor {
					margin-top: 20px;
				}
			}
		}

		.contact-area {
			.wp-padding {
			    padding-top: 70px;
    			padding-bottom: 60px;
			}
			.contact-st {
				padding-bottom: 0;
			}
			.landing-st {
				padding-top: 0;
			}
			.wp-block-contact {
				.title{
					&.first {
						margin-bottom: 40px;
					}
				}
				&.contact-st {
					.group-btn {
						margin-bottom: 25px;
						> .btn {
							margin-bottom: 0;
						}
					}
				}
			}
		}

	}
	@media (max-width: 992px) {

		.wp-ds-ldpage {
			width: 100%;
			padding-left: 15px;
			padding-right: 15px;
		}
		.introduce-area {
			.wp-first {
				.slide-top {
					height: 100%;
					.slick-track,
					.slick-slide,
					.slick-list {
						height: 100%;
					}
					.item{
						&:before{
							content: none;
						}
					}
				}
				.wp-block-img {
					@include absolute-full();
				    .ratio-img {
				    	@include absolute-full();
					    height: 100%;
				    }
				}
			}
			.wp-block-introduce {
				position: relative;
				width: 100%;
				margin: auto;
				top: auto;
				left: auto;
				right: auto;
				bottom: auto;
				z-index: 2;
			}
			.wp-block-img {
				.wp-ds-ldpage {
					padding: 0;
				}
			}
			.table-layout {
				.table-cell {
					background: rgba(0, 0, 0, 0.8);
					padding: 150px 0;
				}
				.title {
				    font-size: 90px;
					letter-spacing: 2px;
					line-height: 1.2;
					margin: 0;
					&.primary-t,
					&.second-t {
						position: static;
					}
					&.primary-t {
						top: auto;
						left: auto;
					}
					&.second-t {
						right: auto;
						bottom: auto;
					}
				}
				.description {
					position: static;
					bottom: auto;
					left: auto;
					font-size: 25px;
					text-align: center;
					max-width: 100%;
					line-height: 1.3;
					letter-spacing: 0.5px;
					padding: 0 20px;
				}
			}		
					}
	}
	@media (max-width:767px) {

		.ds-header-black {
			.logo-site {
				width: 60px;
			}
			.header-main {
				> .btn-hamberger {
					top: 35px;
				}
			}
		}

		.scrollActive {
			.ds-header-black {
				.header-main {
					.logo-site {
						width: 40px;
					}
					> .btn-hamberger {
						top: 30px;
					}
				}
			}
		}

	}

	@media (max-width:667px) {

		.contact-area {
			.wp-block-contact {
				&.contact-st {
					.group-btn {
						> .btn {
							margin-bottom: 15px;
						}
					}
				}
			}
		}

	}

	@media (max-width:568px) {

		.introduce-area {
			.table-layout {
				.title {
				    font-size: 60px;
				}
				.description {
				    font-size: 16px;
				}
			}
		}

		.introduce-area {
			.wp-second {
				.wp-block-infor {
					padding: 50px 0 0 0;
				}
				.title {
					font-size: 20px;
					margin-top: 0;
				}
				.description {
    				font-size: 12px;
				}
			}
		}

		.concept-area {
			.wp-block-concept {
				.day {
					font-size: 25px;
				}
				.area {
					font-size: 18px;
				}
			}
		}

	}

	@media (max-width:414px) {
		
		.information-area {
			.wp-block-information {
				.wp-list-infor {
					.date,
					.text {
						display: block;
					}
					.date {
						width: auto;
					    margin-bottom: 5px;
					}
					.text {
						width: auto;
						margin-left: 0;
					}
				}
			}
		}

	}

	@media (max-width:320px) {

		.introduce-area {
			.table-layout {
				.title {
				    font-size: 50px;
				}
				.description {
			        font-size: 13px;
				}
			}
		}

	}


/*=====  End of Responsive  ======*/
