/* [ clear-float ]
-------------------------------------------------*/
.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* [ box-shadow ]
-------------------------------------------------*/
/* [ border-radius]
-------------------------------------------------*/
/* [ input-placeholder ]
-------------------------------------------------*/
/* [ transition ]
-------------------------------------------------*/
/* [ transform ]
-------------------------------------------------*/
/* [ opacity ]
-------------------------------------------------*/
/* [ calc ]
-------------------------------------------------*/
/* [ ratio img ]
-------------------------------------------------*/
/* [ position img ]
-------------------------------------------------*/
/* [ position img ]
-------------------------------------------------*/
/*===================================
	=              Access              =
	===================================*/
.access-page {
  padding-bottom: 0px;
}

.access-page .logo-st figure {
  margin-bottom: 0;
}

.access-page .contact-st {
  margin-bottom: 30px;
}

.access-page .clear-padding-btn-move.bot {
  margin-top: 190px;
  margin-bottom: 109px;
}

.access-page .wp-scroll-page.tab-filter .list-scroll-item > li.active > .item-filter {
  color: #C3A384;
  border-color: #C3A384;
}

.access-page .wp-scroll-page.tab-filter .list-scroll-item > li > .item-filter {
  font-size: 18px;
}

.access-page .map {
  position: relative;
  margin-bottom: 30px;
}

.access-page .box-info {
  position: relative;
  margin-bottom: 35px;
  padding: 25px 30px;
  font-size: 16px;
  line-height: 1.5;
  border: 4px solid #C3A384;
}

.access-page .box-info.last {
  margin-bottom: 80px;
}

.access-page .box-info > p {
  margin-bottom: 5px;
}

.access-page .box-info > p.last {
  margin-bottom: 0;
}

.access-page .box-info.mb-40 {
  margin-bottom: 40px;
}

.access-page .box-info.mb-35 {
  margin-bottom: 35px;
}

.access-page .box-info.mb-45 {
  margin-bottom: 45px;
}

.color-primary {
  color: #C3A384;
}

.tab-title {
  text-align: center;
  margin: 50px 0 30px;
  font-weight: 600;
  font-size: 24px;
}

.heading-title.heading-style-02 {
  margin-bottom: 15px;
}

.heading-title.heading-style-02 .title.color-primary {
  color: #C3A384;
}

.wp-list-exhibiter.wp-list-access {
  margin-bottom: 45px;
}

.wp-list-exhibiter.wp-list-access.last {
  margin-bottom: 0;
}

.wp-list-exhibiter.wp-list-access > .item {
  width: 100%;
}

.wp-list-exhibiter.wp-list-access > .item > .item-left {
  width: 45%;
  border: 4px solid #C3A384;
}
.wp-list-exhibiter.wp-list-access .gmap_canvas iframe {
  width: 100%;
  height: 270px;
  border:none;
}
.access-page .tab-content>.tab-pane {
  display: block;
  overflow: hidden;
  max-height: 0px;
}
.access-page .tab-content>.active {
  max-height: none;
  max-height: initial;
  overflow: visible;
} 
.wp-list-exhibiter.wp-list-access .gmap_canvas {
  width: 100%;
}
.wp-list-exhibiter.wp-list-access > .item > .item-left .link-img:before {
  padding-top: 60%;
}

.wp-list-exhibiter.wp-list-access > .item > .item-left .link-img {
  pointer-events: none;
  cursor: default;
}

.wp-list-exhibiter.wp-list-access > .item > .item-left .link-img:after {
  content: none;
}

.wp-list-exhibiter.wp-list-access > .item > .item-right {
  width: 55%;
  padding-left: 30px;
  padding-right: 30px;
}

.wp-list-exhibiter.wp-list-access > .item > .item-right > p {
  font-size: 14px;
  margin-bottom: 10px;
}

.wp-list-exhibiter.wp-list-access > .item > .item-right > .group-btn {
  margin-top: 25px;
}

.wp-list-exhibiter.wp-list-access > .item > .item-right > .group-btn > .btn {
  margin-right: 30px;
  padding: 10px 20px;
}

.wp-list-exhibiter.wp-list-access.wp-list-access-in > .item > .item-right > h4 {
  margin-top: 0;
}

.wp-list-exhibiter.wp-list-access.wp-list-access-in > .item > .item-right > p {
  margin-bottom: 48px;
  font-size: 15px;
}

.wp-list-exhibiter.wp-list-access.wp-list-access-in > .item > .item-right > .group-btn {
  margin-top: 35px;
}

/*=====  End of Access  ======*/
/*==================================
	=            Responsive            =
	==================================*/
@media (max-width: 991px) {
  .access-page .line-sp {
    margin: 75px auto 40px auto;
  }
  .wp-list-exhibiter.wp-list-access > .item > .item-right > .group-btn > .btn {
    margin-right: 15px;
    margin-bottom: 5px;
  }
}

@media (max-width: 767px) {
  .access-page .clear-padding-btn-move.bot {
    margin-top: 60px;
    margin-bottom: 0px;
  }
  .access-page .title-des {
    margin-bottom: 30px;
  }
  .access-page .wp-block-section {
    padding-top: 40px;
  }
}

@media (max-width: 684px) {
  .access-page .wp-scroll-page.tab-filter .list-scroll-item {
    position: relative;
    opacity: 1;
    visibility: visible;
  }
  .wp-list-exhibiter.wp-list-access.wp-list-access-in > .item > .item-right > p {
    margin-bottom: 25px;
  }
  .access-page .wp-scroll-page.tab-filter .list-scroll-item > li {
    display: inline-block;
    width: 50%;
    float: left;
  }
  .access-page .wp-scroll-page.tab-filter .list-scroll-item > li > a {
    font-size: 13px !important;
    border-bottom: 3px solid #000000;
  }
  .tab-title {
    font-size: 18px;
  }
  .wp-list-exhibiter.wp-list-access > .item {
    width: 100%;
  }
  .wp-list-exhibiter.wp-list-access > .item > .item-left {
    width: 100%;
    margin-bottom: 30px;
  }
  .wp-list-exhibiter.wp-list-access > .item > .item-right {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .wp-list-exhibiter.wp-list-access > .item > .item-right > .group-btn > .btn {
    margin-right: 10px;
    padding: 10px 5px;
  }
}

/*=====  End of Responsive  ======*/
