@charset "UTF-8";
/* [ clear-float ]
-------------------------------------------------*/

.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* [ box-shadow ]
-------------------------------------------------*/

/* [ border-radius]
-------------------------------------------------*/

/* [ input-placeholder ]
-------------------------------------------------*/

/* [ transition ]
-------------------------------------------------*/

/* [ transform ]
-------------------------------------------------*/

/* [ opacity ]
-------------------------------------------------*/

/* [ calc ]
-------------------------------------------------*/

/* [ ratio img ]
-------------------------------------------------*/

/* [ position img ]
-------------------------------------------------*/

/* [ position img ]
-------------------------------------------------*/

/*=======================================
	=            Change Language            =
	=======================================*/

body.language-en {
  font-family: artless_groteskregular;
}

body.language-en .page-content,
body.language-en .entry-content,
body.language-en .entry-summary {
  font-family: artless_groteskregular;
}

body.language-cn {
  font-family: "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif;
}

body.language-cn .page-content,
body.language-cn .entry-content,
body.language-cn .entry-summary {
  font-family: "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif;
}

/*=====  End of Change Language  ======*/

body {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  font-weight: 400;
  color: #000000;
  font-feature-settings: "palt";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
  overflow-x: hidden;
}

/*----------  Font Face  ----------*/

@font-face {
  font-family: artless_grotesklight;
  src: url("fonts/artless_grotesklight.eot");
  src: url("fonts/artless_grotesklight.eot?#iefix") format("embedded-opentype"), url("fonts/artless_grotesklight.svg#artless_grotesklight") format("svg"), url("fonts/artless_grotesklight.woff") format("woff"), url("fonts/artless_grotesklight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: artless_groteskregular;
  src: url("fonts/artless_groteskregular.eot");
  src: url("fonts/artless_groteskregular.eot?#iefix") format("embedded-opentype"), url("fonts/artless_groteskregular.svg#artless_groteskregular") format("svg"), url("fonts/artless_groteskregular.woff") format("woff"), url("fonts/artless_groteskregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: artless_groteskmedium;
  src: url("fonts/artless_groteskmedium.eot");
  src: url("fonts/artless_groteskmedium.eot?#iefix") format("embedded-opentype"), url("fonts/artless_groteskmedium.svg#artless_groteskmedium") format("svg"), url("fonts/artless_groteskmedium.woff") format("woff"), url("fonts/artless_groteskmedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/*=====================================
=            General style            =
=====================================*/

a,
a.btn-link,
a.btn-link:hover,
a.btn-link:active,
a:hover,
a:focus,
a:active,
a:visited,
.btn-link:focus,
.btn-link:active {
  text-decoration: none;
  outline-offset: 0;
  outline: none;
  -moz-outline-style: none;
}

a:hover,
a:focus,
a:active {
  color: #000000;
}

:focus {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.img-hover {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.img-hover:hover {
  opacity: 0.7;
}

.txt-block {
  display: block;
}

.text-uppercase {
  text-transform: uppercase;
}

#pageCover {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background: #f5f5f5;
}

#pageCover:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url(../images/Ellipsis.gif) no-repeat;
  background-size: 100% 100%;
}

/*=====  End of General style  ======*/

/*===============================
=            Spacing            =
===============================*/

.padding-tb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.padding-tb-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.padding-tb-50 {
  padding-top: 50px;
}

.padding-tb-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.padding-tb-110 {
  padding-top: 110px;
  padding-bottom: 110px;
}

.padding-b-145 {
  padding-bottom: 145px;
}

.padding-t-145 {
  padding-top: 145px;
}

/*=====  End of Spacing  ======*/

/*======================================
=            Heading Title             =
======================================*/

/*----------  style 01 & stlye 02 ----------*/

.privacy-page .description-privacy p,
.privacy-page .box-info.last {
  font-weight: 600;
}

.heading-title.heading-style-01 {
  text-align: center;
  text-transform: uppercase;
}

.heading-title.heading-style-01 .title-wrapp {
  display: inline-block;
}

.heading-title.heading-style-01 .first-letter {
  font-size: 48px;
  color: #C3A384;
  line-height: 1;
  letter-spacing: 0.1em;
  font-family: artless_groteskmedium;
  margin-bottom: 45px;
}

.heading-title.heading-style-01 .title {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  padding: 6px 7px 0px;
  background-color: #FFFFFF;
  display: inline-block;
  position: relative;
  font-family: "Poppins", sans-serif;
  text-align: left;
  display: none;
}

.heading-title.heading-style-01 .title.case-1 {
  padding: 6px 15px 0px 7px;
  -ms-transform: translate(50%, -19px);
  -o-transform: translate(50%, -19px);
  -moz-transform: translate(50%, -19px);
  -webkit-transform: translate(50%, -19px);
  transform: translate(50%, -19px);
}

.heading-title.heading-style-01 .title.case-2,
.heading-title.heading-style-01 .title.case-3 {
  -ms-transform: translate(50%, -19px);
  -o-transform: translate(50%, -19px);
  -moz-transform: translate(50%, -19px);
  -webkit-transform: translate(50%, -19px);
  transform: translate(50%, -19px);
}

.heading-title.heading-style-01 .title.case-2 {
  padding: 5px 45px 0 5px;
  margin-left: -30px;
}

.heading-title.heading-style-01 .title.case-3 {
  padding: 6px 30px 0 0;
  margin-left: -9px;
}

.heading-title.heading-style-01 .title.case-4 {
  padding: 4px 15px;
  margin-left: -17px;
  -ms-transform: translate(50%, -37px);
  -o-transform: translate(50%, -37px);
  -moz-transform: translate(50%, -37px);
  -webkit-transform: translate(50%, -37px);
  transform: translate(50%, -37px);
}

.heading-title.heading-style-01 .title.case-5 {
  padding: 10px 6px;
  -ms-transform: translate(50%, -60px);
  -o-transform: translate(50%, -60px);
  -moz-transform: translate(50%, -60px);
  -webkit-transform: translate(50%, -60px);
  transform: translate(50%, -60px);
}

.heading-title.heading-style-02 .title,
.heading-title.heading-style-02 .line-middle {
  display: inline-block;
  vertical-align: middle;
}

.heading-title.heading-style-02 .title {
  position: relative;
  color: #000000;
  font-size: 24px;
  text-transform: uppercase;
  font-family: artless_groteskmedium;
}

.heading-title.heading-style-02 .title.normal-text {
  text-transform: normal;
}

.heading-title.heading-style-02 .title.md {
  font-size: 20px;
  color: #C3A384;
}

.heading-title.heading-style-02 .title.md .line-middle {
  width: 132px;
}

.heading-title.heading-style-02 .line-middle {
  width: 106px;
  height: 1px;
  margin-left: 15px;
  background-color: #000000;
}

.wp-single-title {
  margin-bottom: 58px;
}

.wp-single-title .single-title {
  display: block;
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.7px;
}

.wp-single-title .single-info {
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 30px;
}

.wp-single-title .single-info .info-item ._item {
  display: inline-block;
  vertical-align: top;
}

.wp-single-title .single-info .info-item ._item+._item {
  margin-left: 17px;
}

.wp-single-title .single-info .lb-text,
.wp-single-title .single-info .text {
  font-size: 12px;
}

.wp-single-title .single-info .lb-text {
  text-transform: uppercase;
  color: #C3A384;
  margin-right: 5px;
}

/*=====  End of Heading Title   ======*/

/*==============================
=            Button            =
==============================*/

.clear-padding-btn-move.margint-25 {
  margin-top: 25px;
}

.clear-padding-btn-move .btn {
  text-transform: uppercase;
  padding: 3px 0;
}

.clear-padding-btn-move .btn:hover {
  color: #C3A384;
}

.btn {
  display: inline-block;
  padding: 3px 10px;
  min-width: 175px;
  font-size: 14px;
  font-family: artless_groteskmedium;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn:focus,
.btn:active,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus,
.btn.focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

.btn .icons {
  margin: 0 3px;
  font-weight: 700;
}

.btn .icon-txt {
  display: inline-block;
  margin: 0 3px 0 0;
}

.btn.capti-text {
  text-transform: capitalize;
}

.btn.btn-move {
  font-size: 18px;
  min-width: auto;
  color: #000000;
}

.btn.btn-bg {
  padding: 10px 52px;
  min-width: 261px;
  font-weight: 500;
  position: relative;
  overflow: hidden;
}

.btn.btn-bg.yellow,
.btn.btn-bg.black {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn.btn-bg.yellow:after,
.btn.btn-bg.black:after {
  content: "";
  position: absolute;
  width: 0;
  bottom: 0;
  left: inherit;
  right: 0;
  height: 2px;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.btn.btn-bg.yellow:hover,
.btn.btn-bg.yellow:focus,
.btn.btn-bg.black:hover,
.btn.btn-bg.black:focus {
  background-color: transparent;
}

.btn.btn-bg.yellow:hover:after,
.btn.btn-bg.yellow:focus:after,
.btn.btn-bg.black:hover:after,
.btn.btn-bg.black:focus:after {
  width: 100%;
  left: 0;
}

.btn.btn-bg.yellow {
  background-color: #C3A384;
  color: #fff;
}

.btn.btn-bg.yellow:hover,
.btn.btn-bg.yellow:focus {
  color: #C3A384;
}

.btn.btn-bg.yellow:hover:after,
.btn.btn-bg.yellow:focus:after {
  background-color: #C3A384;
  color: #C3A384;
}

.btn.btn-bg.black {
  background-color: #000000;
  color: #C3A384;
}

.btn.btn-bg.black:hover,
.btn.btn-bg.black:focus {
  color: #000000;
}

.btn.btn-bg.black:hover:after,
.btn.btn-bg.black:focus:after {
  background-color: #000000;
  color: #000000;
}

.btn.btn-bg.border-bg {
  padding: 5px 19px;
  min-width: 175px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
}

.btn.btn-bg.border-bg:after {
  display: none;
}

.btn.btn-bg.border-bg:hover,
.btn.btn-bg.border-bg:focus {
  color: #fff;
  background-color: #C3A384;
}

.btn.btn-bg.border-bg:hover.yellow,
.btn.btn-bg.border-bg:focus.yellow {
  background-color: #C3A384;
}

.btn.btn-line {
  padding: 5px 47px 4px 47px;
  border: none;
  border-top: 2px solid;
  border-bottom: 2px solid;
}

.btn.btn-line.yellow-br {
  border-color: #C3A384;
  color: #C3A384;
}

.btn.btn-line.yellow-br:hover,
.btn.btn-line.yellow-br:focus {
  border-color: #000000;
  color: #000000;
}

.btn.btn-line.black {
  border-color: #000000;
  color: #000000;
}

.btn.btn-line.black:hover,
.btn.btn-line.black:focus {
  border-color: #C3A384;
  color: #C3A384;
}

.landing-back-top {
  text-align: center;
  padding-top: 135px;
  overflow: hidden;
}

.privacy-page .landing-back-top {
  padding-top: 0;
  padding-bottom: 135px;
}

.wp-back-to-top {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -ms-transform: translateX(20px);
  -o-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  padding-top: 10px;
}

.wp-back-to-top .line,
.wp-back-to-top .text {
  display: inline-block;
  vertical-align: middle;
}

.wp-back-to-top .line {
  position: relative;
  width: 4px;
  height: 98px;
  background-color: #C3A384;
}

.wp-back-to-top .line:before {
  content: "";
  position: absolute;
  top: 8px;
  left: -21px;
  width: 50px;
  height: 24px;
  border-bottom: 4px solid #c3a384;
  border-left: 8px solid transparent;
  -ms-transform: rotate(115deg);
  -o-transform: rotate(115deg);
  -moz-transform: rotate(115deg);
  -webkit-transform: rotate(115deg);
  transform: rotate(115deg);
}

.wp-back-to-top .text {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #C3A384;
  -ms-transform: rotate(90deg) translateY(10px);
  -o-transform: rotate(90deg) translateY(10px);
  -moz-transform: rotate(90deg) translateY(10px);
  -webkit-transform: rotate(90deg) translateY(10px);
  transform: rotate(90deg) translateY(10px);
}

/*=====  End of Button  ======*/

/*==================================
=            RESPONSIVE            =
==================================*/

@media (min-width: 1200px) {
  .container {
    width: 1030px;
  }
}

@media (max-width: 1100px) {
  .heading-title.heading-style-01 {
    padding: 90px 0 20px 0;
  }
}

@media (max-width: 767px) {
  .clear-padding-btn-move.top .btn {
    margin-top: 70px;
  }
  .txt-block {
    display: inline;
  }
  .padding-tb-60 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .padding-tb-40 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .padding-tb-30 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .padding-b-145 {
    padding-bottom: 100px;
  }
  .padding-t-145 {
    padding-top: 100px;
  }
  .site-content {
    padding-bottom: 100px;
  }
  .landing-back-top {
    padding-top: 50px;
  }
  .heading-title.heading-style-02 .title {
    font-size: 22px;
  }
  .heading-title.heading-style-02 .line-middle {
    margin-left: 5px;
  }
  .btn.btn-move {
    font-size: 14px;
  }
  .btn.btn-move.margint-25 {
    margin-top: 0;
  }
  .wp-back-to-top.top2 {
    right: 10px;
  }
  .wp-back-to-top.top2 .line {
    height: 40px;
    width: 3px;
  }
  .wp-back-to-top.top2 .line:before {
    left: -3px;
    top: 2px;
    width: 20px;
    height: 24px;
    border-bottom: 3px solid #C3A384;
    border-left: 3px solid transparent;
  }
  .wp-back-to-top.top2 .text {
    font-size: 13px;
  }
  .heading-title.heading-style-01 .first-letter {
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 2px;
  }
}

@media (max-width: 667px) {
  .wp-single-title {
    font-size: 22px;
  }
  .blogs-page,
  .blogs-detail-page,
  .exhibition-page,
  .exhibiton-detai-page,
  .access-page,
  .event-party-page,
  .about-page {
    padding-top: 80px;
  }
  .blogs-page .contact-st .heading-title.heading-style-01,
  .blogs-detail-page .contact-st .heading-title.heading-style-01,
  .exhibition-page .contact-st .heading-title.heading-style-01,
  .exhibiton-detai-page .contact-st .heading-title.heading-style-01,
  .access-page .contact-st .heading-title.heading-style-01,
  .event-party-page .contact-st .heading-title.heading-style-01,
  .about-page .contact-st .heading-title.heading-style-01 {
    padding-top: 0px;
  }
}

@media (max-width: 480px) {
  .wp-single-title .single-info {
    margin-bottom: 15px;
    margin-top: 15px;
  }
}

@media (max-width: 414px) {
  .wp-single-title {
    text-align: center;
  }
  .wp-single-title .single-info .lb-text {
    margin-right: 0;
  }
}

@media (max-width: 380px) {
  .heading-title.heading-style-02 .title .line-middle {
    width: 90px;
  }
  .heading-title.heading-style-02 .title.md .line-middle {
    width: 90px;
  }
}

/*=====  End of RESPONSIVE  ======*/