@charset "UTF-8";
/* [ clear-float ]
-------------------------------------------------*/
.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* [ box-shadow ]
-------------------------------------------------*/
/* [ border-radius]
-------------------------------------------------*/
/* [ input-placeholder ]
-------------------------------------------------*/
/* [ transition ]
-------------------------------------------------*/
/* [ transform ]
-------------------------------------------------*/
/* [ opacity ]
-------------------------------------------------*/
/* [ calc ]
-------------------------------------------------*/
/* [ ratio img ]
-------------------------------------------------*/
/* [ position img ]
-------------------------------------------------*/
/* [ position img ]
-------------------------------------------------*/
/*=======================================
	=            Change Language            =
	=======================================*/
body.language-en .block-filter .wp-right .time .text,
body.language-en .block-filter .wp-right .group-info .pr-text .text {
  font-family: artless_groteskmedium;
  font-weight: 500;
}

/*=====  End of Change Language  ======*/
/*===================================
	=            Event Party            =
	===================================*/


.event-party-page .logo-st figure {
  margin-bottom: 0;
}

.event-party-page .clear-padding-btn-move.bot {
  margin-top: 190px;
  margin-bottom: 109px;
}

.show-tabs {
  position: relative;
  font-family: artless_groteskmedium;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  display: none;
  cursor: pointer;
  padding: 10px 0;
  background-color: #C3A384;
  color: #fff;
}

.show-tabs:after {
  content: "\f107";
  font: normal normal normal 14px/1 FontAwesome;
  line-height: 2.2;
  float: right;
  -ms-transform: translateX(-15px);
  -o-transform: translateX(-15px);
  -moz-transform: translateX(-15px);
  -webkit-transform: translateX(-15px);
  transform: translateX(-15px);
}

.wp-scroll-page.tab-filter {
  position: relative;
}

.wp-scroll-page.tab-filter .list-scroll-item > li > .item-filter {
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  min-width: 210px;
}

.wp-scroll-page.tab-filter .list-scroll-item > li > .item-filter:hover {
  color: #C3A384;
  border-color: #C3A384;
}

.wp-scroll-page.tab-filter .list-scroll-item > li > .item-filter.active-tab {
  color: #C3A384;
  border-color: #C3A384;
}

.wp-scroll-page.tab-filter .icons {
  margin-left: 12px;
}

.tab-filter-section {
  margin-top: 70px;
}

.block-filter {
  font-size: 0;
  margin-bottom: 50px;
}

.block-filter:last-child {
  margin-bottom: 0;
}

.block-filter .pri-title {
  font-family: artless_groteskmedium;
  font-size: 31px;
  margin-bottom: 25px;
  padding-right: 13px;
  border-bottom: 4px solid #C3A384;
  color: #C3A384;
  display: inline-block;
}

.block-filter .pri-title span {
  font-family: artless_groteskregular;
  font-size: 16px;
}

.block-filter .wp-content {
  margin-bottom: 25px;
}

.block-filter .wp-content:last-child {
  margin-bottom: 0;
}

.block-filter .wp-content:hover .link-img:before {
  opacity: 1;
  visibility: visible;
}

.block-filter .wp-left,
.block-filter .wp-right {
  display: inline-block;
  vertical-align: top;
}

.block-filter .wp-left {
  width: 285px;
}

.block-filter .wp-left img {
  max-width: 100%;  
  height: auto;
}

.block-filter .wp-left > a {
  pointer-events: none;
  cursor: default;
}

.block-filter .wp-left .link-img {
  position: relative;
  display: block;
  overflow: hidden;
}

.block-filter .wp-left .link-img:before {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.block-filter .wp-left .link-img:after {
  content: "";
  display: block;
  padding-top: 67%;
}

.block-filter .wp-left .link-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  max-width: none;
  width: auto;
  object-fit: cover;
  object-position: 50% 50%;
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.block-filter .wp-right {
  width: -moz-calc(100% - 290px);
  width: -webkit-calc(100% - 290px);
  width: calc(100% - 290px);
  padding-left: 25px;
}

.block-filter .wp-right .group-info .pr-text {
  display: inline-block;
  font-size: 14px;
  font-family: artless_groteskmedium;
  color: #C3A384;
}

.block-filter .wp-right .group-info .pr-text .text {
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-weight: 600;
  color: #000000;
}

.block-filter .wp-right .group-info .pr-text + .pr-text {
  margin-left: 13px;
}

.block-filter .wp-right .title {
  font-size: 16px;
  font-weight: 600;
  margin: 7px 0 9px 0;
  line-height: 1.5;
}

.block-filter .wp-right .title .status {
  color: #d42626;
  margin-left: -2px;
}

.block-filter .wp-right .time {
  font-size: 18px;
  font-family: artless_groteskmedium;
  color: #C3A384;
  margin-bottom: 20px;
}

.block-filter .wp-right .time .text {
  color: #000000;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
  font-weight: 600;
}

/*=====  End of Event Party  ======*/
/*==================================
	=            Responsive            =
	==================================*/
@media (max-width: 991px) {
  .event-party-page .line-sp {
    margin: 75px auto 40px auto;
  }
  .wp-scroll-page.tab-filter .list-scroll-item > li + li {
    margin-left: 0;
  }
  .tab-filter-section {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
  .pr-text.pr-category{
    display: none !important;
  }
}
@media (max-width: 684px) {
  .show-tabs {
    display: block;
  }
  .wp-scroll-page.tab-filter .list-scroll-item {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    border-bottom: none;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .wp-scroll-page.tab-filter .list-scroll-item > li {
    display: block;
  }
  .wp-scroll-page.tab-filter .list-scroll-item > li > .item-filter {
    border-bottom: 1px solid transparent;
    min-width: auto;
    width: 100%;
    padding: 10px 0;
  }
  .wp-scroll-page.tab-filter .list-scroll-item > li > .item-filter .icons {
    display: none;
  }
  .wp-scroll-page.open-tab-filter-sm .list-scroll-item {
    opacity: 1;
    visibility: visible;
    -webkit-box-shadow: 1px 5px 25px rgba(123, 123, 123, 0.26);
    box-shadow: 1px 5px 25px rgba(123, 123, 123, 0.26);
  }
  .wp-scroll-page.open-tab-filter-sm .list-scroll-item > li > .item-filter {
    border-bottom: 1px solid #eee;
  }
  .wp-scroll-page.open-tab-filter-sm .list-scroll-item > li > .item-filter:hover {
    border-color: #eee;
  }
  .wp-scroll-page.open-tab-filter-sm .list-scroll-item > li > .item-filter.active-tab {
    border-color: #eee;
  }
  .block-filter .wp-right {
    padding-left: 10px;
  }
}

@media (max-width: 568px) {
  .event-party-page .line-sp {
    margin: 50px auto 40px auto;
  }
  .event-party-page .clear-padding-btn-move.bot {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .block-filter {
    margin-bottom: 30px;
  }
  .block-filter .pri-title {
    display: block;
    font-size: 27px;
    margin-bottom: 35px;
  }
  .block-filter .wp-content {
    margin-bottom: 40px;
  }
  .block-filter .wp-left {
    width: 40%;
  }
  .block-filter .wp-left img {
    max-width: 100%;
    display: block;
  }
  .block-filter .wp-right {
    width: 60%;
    padding-left: 20px;
  }
  .block-filter .wp-right .group-info {
    font-size: 12px;
    margin-top: 0px;
  }
  .block-filter .wp-right .group-info .pr-text + .pr-text {
    margin-left: 10px;
  }
  .block-filter .wp-right .title {
    font-size: 14px;
    margin: 2px 0;
  }
  .block-filter .wp-right .title .status {
    margin-left: -7px;
  }
  .block-filter .wp-right .time {
    font-size: 13px;
  }
  .block-filter .wp-right .btn {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    min-width: none;
    min-width: initial;
  }
}

@media (max-width: 414px) {
  .show-tabs {
    font-size: 13px;
  }
  .show-tabs:after {
    line-height: 1.7;
  }
}

@media (max-width: 320px) {
  .block-filter .wp-right {
    padding-left: 10px;
  }
  .block-filter .wp-right .group-info .pr-text {
    font-size: 12px;
  }
  .block-filter .wp-right .time {
    font-size: 12px;
  }
}

/*=====  End of Responsive  ======*/
