@charset "UTF-8";
/* [ clear-float ]
-------------------------------------------------*/
.clearfix:before, .exhibitors-list:before {
  content: "";
  display: table;
}

.clearfix:after, .exhibitors-list:after {
  content: "";
  display: table;
  clear: both;
}

/* [ box-shadow ]
-------------------------------------------------*/
/* [ border-radius]
-------------------------------------------------*/
/* [ input-placeholder ]
-------------------------------------------------*/
/* [ transition ]
-------------------------------------------------*/
/* [ transform ]
-------------------------------------------------*/
/* [ opacity ]
-------------------------------------------------*/
/* [ calc ]
-------------------------------------------------*/
/* [ ratio img ]
-------------------------------------------------*/
/* [ position img ]
-------------------------------------------------*/
/* [ position img ]
-------------------------------------------------*/
/*=======================================
=            Change Language            =
=======================================*/
body.language-en .logo-st figure .name,
body.language-en .privacy-page.access-page,
body.language-en .exhibitor-item .desc-wrapp .desc {
  font-family: artless_groteskmedium;
  font-weight: 500;
}

/*=====  End of Change Language  ======*/
/*==================================
=            Slider top            =
==================================*/
.top-slider-st {
  height: 583px;
  background-color: #333333;
}

/*=====  End of Slider top  ======*/
.landing-st {
  margin-top: 56px;
  margin-bottom: 95px;
}


.landing-st.contact-st {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 40px;
  background-color: #000;
}

.landing-blog-wrapp {
  max-width: 710px;
  margin-left: auto;
  margin-right: auto;
}
.designart-page .events-list > .event-item:first-child,
.designart-page .blogs-list .blog-item:first-child {
  padding-top: 0px;
}


/*======================================
=            Exhibitor list            =
======================================*/
.exhibitors-list {
  margin-left: -31px;
  margin-right: -31px;
  margin-bottom: 50px;
  font-size: 0px;
  display: block;
  text-align: center;
}

.exhibitors-list > .exhibitor-item {
  width: 20%;
  padding-left: 31px;
  margin-bottom: 40px;
  padding-right: 31px;
  font-size: 14px;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.exhibitor-item .inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.exhibitor-item .inner:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.exhibitor-item .inner:hover .desc-wrapp {
  opacity: 1;
}

.exhibitor-item .desc-wrapp,
.exhibitor-item .pic-wrapp {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.exhibitor-item .pic-wrapp {
  overflow: hidden;
}

.exhibitor-item .pic-wrapp:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.exhibitor-item .pic-wrapp img {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  max-width: none;
  max-width: initial;
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.exhibitor-item .desc-wrapp {
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.exhibitor-item .desc-wrapp .link {
  padding: 26px 14px;
  display: block;
  height: 100%;
}

.exhibitor-item .desc-wrapp .category {
  font-size: 12px;
  color: #C3A384;
  font-family: artless_groteskmedium;
}

.exhibitor-item .desc-wrapp .desc {
  font-size: 13px;
  color: #FFF;
  display: block;
  max-height: 70px;
  overflow: hidden;
  font-weight: 600;
}

/*=====  End of Exhibitor list  ======*/
/*========================================
=            Area map section            =
========================================*/

#mapArea .map {
  width: 100%;
  height: 340px;
  position: relative;
  margin-bottom: 60px;
  border: 4px solid #C3A384;
}

#mapArea .map iframe {
  width: 100%;
  height: 100%;
  border: none;
  position: relative;
  z-index: 11;
}

#mapArea .tab {
  list-style: none;
  padding-left: 0px;
  text-align: center;
  font-size: 0;
  margin-bottom: 25px;
}

#mapArea .tab > li {
  display: inline-block;
  margin: 0px 15px 20px;
  font-size: 14px;
}

#mapArea .tab > li.on a {
  opacity: 0.6;
  cursor: default;
}

#mapArea .btn {
  text-transform: uppercase;
}

.map {
  width: 100%;
  height: 340px;
  margin-bottom: 60px;
  border: 4px solid #C3A384;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: none;
  position: relative;
  z-index: 11;
}

.map:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  top: 0;
  left: 0;
  background-image: url(../images/Rolling.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50px 50px;
  z-index: 10;
  opacity: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.map.loading:before {
  opacity: 1;
}

/*=====  End of Area map section  ======*/
/*==================================
=            Event List            =
==================================*/
.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.events-list {
  margin-bottom: 50px;
}

.events-list > .event-item {
  border-bottom: 1px solid #000000;
  padding: 30px 0;
}

.event-item {
  display: table;
  width: 100%;
  max-width: 100%;
}

.event-item .event-top-block {
  width: 90px;
  display: table-cell;
  vertical-align: middle;
  background-color: #000000;
  text-align: center;
  color: #C3A384;
  font-family: artless_groteskmedium;
  padding: 20px 15px 12px;
}

.event-item .event-top-block .cate {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 10px;
  display: block;
  margin-bottom: 4px;
  line-height: 1;
}

.event-item .event-top-block .date {
  display: block;
  line-height: 1.5;
  word-break: normal;
}

.event-item .main-block {
  padding-left: 20px;
  padding-right: 20px;
  display: table-cell;
  vertical-align: middle;
}

.event-item .right-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  max-width: 175px;
  display: none;
}

.event-item .area .lb-text {
  font-family: artless_groteskmedium;
  font-weight: 500;
  color: #C3A384;
}

.event-item .area .place {
  font-size: 12px;
  font-weight: 500;
}

.event-item .title {
  font-weight: 600;
  font-size: 16px;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

.event-item.party .event-top-block {
  background-color: #C3A384;
  color: #000000;
}

/*=====  End of Event List  ======*/
/*=======================================
=            Contact section            =
=======================================*/
.contact-st {
  padding-bottom: 20px;
}
.contact-st .social-list {
  display: block;
  text-align: center;
}
.contact-st .heading-title.heading-style-01 .first-letter {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: bold;
}
.contact-st .share-infotext-center .heading-title.heading-style-01 .first-letter {
  font-size: 30px;
  margin-bottom: 20px;
}
@media (max-width: 767px){
  .contact-st .heading-title.heading-style-01 .first-letter {
    font-size: 18px;
  }
  .contact-st .share-infotext-center .heading-title.heading-style-01 .first-letter{
    font-size: 15px;
  }
}

.contact-st .share-info .heading-title.heading-style-01 .first-letter{
  font-size: 30px;
}

.contact-st .heading-title {
  margin-bottom: 25px;
}

.contact-st .group-btn {
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}

.contact-st .group-btn > .btn {
  margin-left: 28px;
  margin-right: 28px;
  padding: 24px 35px;
  width: 399px;
  font-size: 24px;
}

.contact-st .group-btn > .btn span{
  font-size: 15px;
  text-align: left;
  white-space: normal;
  display: inline-block;
  margin-top: 5px;
  font-weight: 500;
}

.contact-st .social-list .social-item {
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 24px;
  margin-left: 10px;
  margin-right: 10px;
}

/*=====  End of Contact section  ======*/
/*================================
=            Back top            =
================================*/
.wp-back-to-top-wrap{
  position: relative;
}

.wp-back-to-top.top2 {
  position: fixed;
  right: -53px;
  bottom: -70px;
  z-index: 90;
/*  -ms-transform: translate(20px, 20%) scale(.3125);
  -o-transform: translate(20px, 20%) scale(.3125);
  -moz-transform: translate(20px, 20%) scale(.3125);
  -webkit-transform: translate(20px, 20%) scale(.3125);
  transform: translate(20px, 20%);*/
  opacity: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;

  transform: scale(.3125);
  transform-origin: left top;
}

.wp-back-to-top.absolute{
  position: absolute;
  /*top: -279px;*/
}

.wp-back-to-top.top.absolute{
  position: absolute;
  top: -277px;
}

.wp-back-to-top.top2.show {
/*  -ms-transform: translate(20px, 0);
  -o-transform: translate(20px, 0);
  -moz-transform: translate(20px, 0);
  -webkit-transform: translate(20px, 0);
  transform: translate(20px, 0);*/
  opacity: 1;
}

@media (max-width: 767px){

  .wp-back-to-top.top2 {
    right: -112px;
    /*bottom: -116px;*/
    bottom: -56px;
    transform: scale(0.15);
  }

  .wp-back-to-top.absolute{
    position: absolute;
    top: 0;
    bottom:-125px;
  }

  .wp-back-to-top.top.absolute{
    position: absolute;
    top: -154px;
  }
}

/*=====  End of Back top  ======*/
/*==============================
=            Footer            =
==============================*/
.site-footer {
  position: relative;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: #000000;
  color: #fff;
  font-family: artless_groteskmedium;
}

.site-footer .footer-menu {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 13px;
  margin-top: 0px;
  font-size: 0;
}

.site-footer .footer-menu > li {
  display: inline-block;
  padding: 0px 20px;
  border-right: 1px solid #fff;
  line-height: 1;
  margin-bottom: 10px;
}

.site-footer .footer-menu > li.li1 {
  margin-left: -41px;
}

.site-footer .footer-menu > li.li2 {
  border-right: none;
}

.site-footer .footer-menu > li.li3 {
  margin-left: -45px;
}


@media (max-width: 767px) {

  .landing-st.contact-st {
    padding-bottom: 0;
    padding-top: 25px;
  }

  .site-footer {
    padding-bottom: 0px;
  }

  .site-footer .to-exhibitor-wrap{
    background-color: #c3a385;
    margin-top: 22px;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .site-footer .to-exhibitor{
    /*background-color: #000;*/
    border-radius: 4px;
    width: 80%;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
  }

  .site-footer .to-exhibitor a{
    padding: 9px 0;
    display: block;
    color: #000;
  }

  .site-footer .to-exhibitor a img{
    width: 13px;
    margin-right: 9px;
    margin-top: -8px;
  }

  .site-footer .footer-menu > li.li1 {
    margin-left: -30px;
  }

  .site-footer .footer-menu > li.li3 {
    margin-left: -34px;
  }

  .site-footer .footer-menu > li a {
    font-size: 11px !important;
  }

  .site-footer .container{
    margin-bottom: 90px;
  }
}

@media (max-width: 480px){
  .site-footer .footer-menu > li{
    display: inline-block;
    padding: 0px 10px;
    /*width: 33.333%;*/
    text-align: center;
  }

  .site-footer .footer-menu > li.li1 {
    margin-left: -30px;
  }

  .site-footer .footer-menu > li.li3 {
    margin-left: -33px;
  }
}

@media screen and (max-width: 380px) {

  .site-footer .footer-menu > li a {
    font-size: 9px !important;
  }
}
.site-footer .footer-menu > li:last-child{
  border-right: 0;
}

.site-footer .footer-menu > li a {
  font-family: artless_groteskmedium;
  font-size: 15px;
  color: #fff;
}

.site-footer .footer-menu > li a:hover, .site-footer .footer-menu > li a:focus {
  color: #FFFFFF;
}

.site-footer .social-list {
  margin-bottom: 20px;
}

.site-footer .social-list .social-item {
  width: auto;
  height: auto;
  line-height: 1;
  font-size: 25px;
  background-color: transparent;
  color: #C3A384;
  margin-left: 10px;
  margin-right: 10px;
}

.site-footer .social-list .social-item:hover {
  color: #FFFFFF;
}

.site-footer .copy-text {
  font-size: 14px;
}

.site-footer .logo-st{
  position: absolute;
  top: 50%; right: 11%;
  transform: translateY(-50%);
  margin: 0;
}
@media (max-width: 991px){
  .site-footer .logo-st{
    position: initial;
    top: initial;
    right: initial;
    transform: none;
    margin-bottom: 20px;
  }
}
.site-footer .logo-st figure{
  margin: 7px;
}
/*=====  End of Footer  ======*/
/*====================================
=            Privacy Page            =
====================================*/
.privacy-page.black {
  color: #fff;
}

.privacy-page.black .title-privacy {
  color: #C3A384;
  font-size: 21px;
}

.privacy-page.black .wp-block-contact .heading-title.heading-style-01 {
  display: none;
}

.privacy-page.black .wp-block-contact .title.first.st {
  margin-bottom: 0;
}

.privacy-page.black.access-page .box-info.last {
  margin-bottom: 110px;
}

.privacy-page.black .heading-title.heading-style-02 .line-middle {
  display: none;
}

.privacy-page.access-page .box-info.last {
  margin-bottom: 320px;
}

.privacy-page .description-privacy {
  margin-bottom: 50px;
}

.privacy-page .description-privacy p {
  font-size: 15px;
  letter-spacing: 1.2px;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .privacy-page.black.access-page .box-info.last {
    margin-bottom: 0;
  }
  .contact-st .social-list {
    margin-bottom: 30px;
  }
  .block-category .year-content .block-content {
    margin-top: 10px;
  }
  .tab-content {
    padding-left: 0 !important;
  }
  .tab-pane {
    padding-right: 0;
  }
  .nav-tabs>li {
    min-width: 145px;
  }
  .tab-pane:first-child .title-index span {
    margin: 0 10px;
  }
  .tab-pane:nth-child(-n + 2) {
    padding-left: 15px;
  }
  .privacy-page.access-page .box-info.last {
    margin-bottom: 100px;
  }
  .contact-st .group-btn {
    margin-bottom: 10px;
  }
  .logo-st figure {
    margin: 1em 20px;
  }

}

@media (max-width: 667px) {
  .privacy-page .description-privacy p {
    font-size: 14px;
  }
}

/*=====  End of Privacy Page  ======*/
/*===============================
=            Logo st            =
===============================*/
.logo-st {
  text-align: center;
  margin-bottom: 100px;
}

.logo-st figure {
  display: inline-block;
  vertical-align: top;
}

.logo-st figure .name {
  margin-top: 5px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  color: #000000;
}

/*=====  End of Logo st  ======*/
/*==================================
=            RESPONSIVE            =
==================================*/
@media (min-width: 1200px) {
  .exhibitors-list > .exhibitor-item:nth-last-child(-n+5) {
    margin-bottom: 0px;
  }
}

@media (min-width: 991px) and (max-width: 1199px) {
  .exhibitors-list > .exhibitor-item {
    width: 25%;
  }
  .exhibitors-list > .exhibitor-item:nth-last-child(-n+4) {
    margin-bottom: 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .exhibitors-list {
    margin-left: -15px;
    margin-right: -15px;
  }
  .exhibitors-list > .exhibitor-item {
    padding-left: 15px;
    padding-right: 15px;
    width: 25%;
  }
  .exhibitors-list > .exhibitor-item:nth-last-child(-n+4) {
    margin-bottom: 0px;
  }
  #mapArea .tab > li {
    margin-left: 8px;
    margin-right: 8px;
  }
  #mapArea .tab > li a.btn {
    min-width: 160px;
  }
}

@media (max-width: 767px) {
  .exhibitors-list {
    margin-left: -15px;
    margin-right: -15px;
  }
  .exhibitors-list > .exhibitor-item {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
  }
  .exhibitors-list > .exhibitor-item:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
  .exhibitors-list > .exhibitor-item .pic-wrapp img {
    width: auto;
  }
  .exhibitor-item .desc-wrapp .link {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .events-list > .event-item {
    display: block;
    width: 100%;
    flex-wrap: initial;
    padding-top: 0px;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .events-list > .event-item:last-child {
    margin-bottom: 0px;
  }
  .event-item {
    position: relative;
    min-height: 100px;
  }
  .event-item .event-top-block {
    position: absolute;
    margin-bottom: 0px;
    display: block;
    top: 0;
    left: 0;
  }
  .event-item .main-block {
    padding-left: 110px;
    padding-right: 0;
    margin-bottom: 10px;
    text-align: left;
    display: block;
  }
  .event-item .right-block {
    padding-left: 110px;
    text-align: left;
    max-width: 100%;
  }
  .event-item .right-block .btn {
    min-width: none;
    min-width: initial;
  }
/*  .contact-st .group-btn > .btn:last-child {
    margin-bottom: 0px;
  }*/
  #mapArea .tab {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  #mapArea .tab > li {
    margin: 0px 5px 20px;
  }
  #mapArea .btn.btn-bg.border-bg {
    min-width: 155px;
  }
  .exhibitor-item .desc-wrapp {
    opacity: 1;
  }
  .contact-st .heading-title {
    margin-bottom: 0px;
    padding-bottom:0px;
  }

}

@media (max-width: 480px) {
  .exhibitors-list {
    margin-left: -10px;
    margin-right: -10px;
  }
  .exhibitors-list > .exhibitor-item {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
  }
}

@media (max-width: 320px) {
  .event-item .main-block {
    padding-left: 100px;
  }
  .event-item .right-block {
    padding-left: 100px;
  }
  .event-item .right-block .btn {
    padding-left: 20px;
    padding-right: 20px;
  }
  #mapArea .btn.btn-bg.border-bg {
    min-width: 125px;
    padding: 5px 10px;
    font-size: 12px;
  }
}

/*=====  End of RESPONSIVE  ======*/

.nav-tabs {
  border: 0;
}
.tab-content {
  margin-top: 28px;
}
.nav-tabs>li {
  float: none;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  border: 2px solid #c3a385;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  min-width: 325px;
  text-align: center;
  color: #c3a384;
  text-transform: uppercase;
  font-family: artless_groteskmedium;
  font-weight: 500;
}
.nav.nav-tabs li a {
  line-height: 23px;
}
.title-index {
  padding-bottom: 0px;
  position: relative;
  font-size: 30px;
  color: #c3a384;
  text-align: left;
  font-family: artless_groteskmedium;
  font-weight: 500;
  border-bottom: 4px solid #c3a384;
}
.artist-brand {
  overflow: hidden;
}
.tab-content {
  padding-left: 15px;
}
/* .title-index:after {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 5px;
   background-color: #c3a385;
   opacity: 1;
} */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color: transparent;
  border: 0;
  color: #c3a384;
}

.tab-content .left {
  padding-right: 0;
}
.tab-content .right {
  padding-left: 0;
}
.content-index li a {
  color: #c3a384;
}
.content-index {
  padding-top: 25px;
  padding-bottom: 45px;
}
.content-index ul li {
  line-height: 2.4;
  font-weight: 700;
  padding: 0 15px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav>li>a:hover {
  background-color: transparent;
  border: 0;
  color: #c3a384;
}
.nav-tabs>li>a {
  border: 0;
}
.nav>li>a {
  padding: 2px 0;
}
.tab-pane.right .title-index span {
  font-size: 0;
}
.tab-pane.right ul {
  margin-left: 32%;
  text-align: left;
}
.festival .contact-st {
  -ms-transform: skew(0, 10deg);
  -o-transform: skew(0, 10deg);
  -moz-transform: skew(0, 10deg);
  -webkit-transform: skew(0, 10deg);
  transform: skew(0, 10deg);
}


.title-description {
  font-size: 13px;
  text-decoration: underline;
  color: #c3a384;
  margin-top: 6px;
  font-family: artless_groteskmedium;
  font-weight: 500;
}
.nav.nav-tabs li {
  margin-right: 85px;
}
.nav.nav-tabs li + li {
  margin-left: 85px;
  margin-right: 0;
}
.content-index li img {
  margin-left: 17px;
}
.content-index ul li {
  font-size: 12px;
  color: #fff;
  font-weight: 700;
}
.year {
  font-size: 0;
  padding-bottom: 25px;
  border-bottom: 4px solid #c3a384;
}
.year .item {
  font-size: 14px;
  display: inline-block;
  font-family: artless_groteskmedium;
  vertical-align: top;
  border:  2px solid #c3a385;
  border-radius: 10px;
  text-align: center;
  color: #c3a384;
  min-width: 120px;
  margin: 23px 10px 0;
}
.year .item a {
  display: block;
}
.year .item.active {
  background-color: #c3a384;
  color: #342b23;
}
.character span {
  font-size: 30px;
  color: #c3a384;
  margin-right: 13px;
  font-family: artless_groteskmedium;
  font-weight: 500;
}

.content-festival {
  text-align: center;
  margin-top: 80px;
}
.year-content .block-content,
.year-content .block-character .menu {
  text-align: left;
  color: #fff;
}
.block-content .title {
  font-weight: bold;
  font-size: 12px;
}
.year-content .block-character .menu {
  padding-top: 20px;
  position: relative;
  font-size: 10px;
  font-family: artless_groteskmedium;
  font-weight: 500;
}
.year-content .block-character .menu i {
  font-size: 10px;
  margin: 0 2px 0 5px;
}
.year-content .block-character .menu:after {
  content: '';
  font-family: "FontAwesome";
}
.year-content .block-content {
  margin-top: 20px;
}
.year-content .block-character .character {
  text-align: left;
  margin-bottom: 60px;
  margin-top: -5px;
}
.block-index .content-index .right ul{
  margin-left: 32%;
  text-align: left;
}
@media screen and (max-width: 991px) {
  .nav.nav-tabs li {
    margin-right: 20px;
  }
  .nav.nav-tabs li + li {
    margin-left: 20px;
  }
}
@media screen and (max-width: 767px) {
  .year .item {
    font-size: 9px;
    min-width: auto;
    padding: 3px 30px;
  }
  .year .item a {
    display: inline-block;
  }
  .tab-pane .title-index span,
  .tab-pane:first-child .title-index span {
    font-size: 22px;
    margin: 0 10px;
  }

  .tab-content .right {
    padding-left: 15px;
  }
  .tab-content {
    margin-top: 0px;
  }
  .nav.nav-tabs li {
    margin-right: 5px;
  }
  .nav.nav-tabs li + li {
    margin-left: 5px;
  }
  .content-festival .container {
    padding: 0;
  }
  .block-content,
  .character,
  .menu {
    padding: 0 10px;
  }
  .nav.nav-tabs li.active {
    background-color: #c3a384;

  }
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav>li>a:hover {
    color: #000;
  }
  .nav-tabs {
    border-bottom: 4px solid #c3a384;
  }
  .content-festival {
    margin-top: 80px;
  }
  .nav-tabs>li {
    font-size: 9px;
    min-width: 160px;
    padding: 0px 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-bottom: 0;
  }
  .tab-pane.left .title-index span,
  .tab-pane.right .title-index span {
    font-size: 18px;
    margin: 0 8px;
  }
  .year-content .block-character .menu {
    padding-top: 15px;
  }
  .content-index {
    text-align: left;
    margin: 0 22px;
  }
  .tab-pane.right ul {
    margin-left: 0;
  }
  .tab-pane {
    display: none
  }
  .tab-pane.active {
    display: block;
  }
  .block-content .title {
    font-size: 10px;
  }
  .title-description {
    font-size: 9px;
    margin-top: 2px;
  }
  .year-content .block-character .character span {
    font-size: 22px;
  }
  .category .item {
    font-size: 9px;
    min-width: auto;
    padding: 5px 15px;
  }
  .year-content .block-character .character {
    margin-bottom: 35px;
  }
  .category .category-left {
    margin-right: 5px;
  }
  .category .category-right {
    margin-left: 5px;
  }
  .block-index .title-index {
    font-size: 18px;
    margin-top: 20px;
  }
  .block-index-character .left li {
    text-align: left;
  }
  .year .item {
    margin: 15px 5px 0;
  }
}
@media screen and (max-width: 320px) {
  .nav-tabs>li {
    min-width: 145px;
  }
}
/*====================================
=            Privacy Page            =
====================================*/
.privacy-page.black {
  color: #fff;
}

.privacy-page.black .title-privacy {
  color: #C3A384;
  font-size: 21px;
}

.privacy-page.black .wp-block-contact .heading-title.heading-style-01 {
  display: none;
}

.privacy-page.black .wp-block-contact .title.first.st {
  margin-bottom: 0;
}

.privacy-page.black.access-page .box-info.last {
  margin-bottom: 110px;
}

.privacy-page.black .heading-title.heading-style-02 .line-middle {
  display: none;
}

.privacy-page.access-page .box-info.last {
  margin-bottom: 320px;
}

.privacy-page .description-privacy {
  margin-bottom: 50px;
}

.privacy-page .description-privacy p {
  font-size: 15px;
  letter-spacing: 1.2px;
  margin-bottom: 25px;
}

@media (max-width:1100px) {
  .designart-page .landing-st {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .designart-page .landing-st.contact-st{
    margin-top: 0;
    padding-top: 25px;
  }

  .designart-page .landing-st.logo-st {
    margin-bottom: 100px;
  }
}

@media (max-width: 767px) {
  .designart-page .landing-st.contact-st{
    padding-bottom: 0;
  }

  .privacy-page.black.access-page .box-info.last {
    margin-bottom: 0;
  }
  .contact-st .social-list {
    margin-bottom: 30px;
  }
  .block-category .year-content .block-content {
    margin-top: 10px;
  }
  .tab-content {
    padding-left: 0 !important;
  }
  .tab-pane {
    padding-right: 0;
  }
  .nav-tabs>li {
    min-width: 145px;
  }
  .tab-pane:first-child .title-index span {
    margin: 0 10px;
  }
  .tab-pane:nth-child(-n + 2) {
    padding-left: 15px;
  }
  .privacy-page.access-page .box-info.last {
    margin-bottom: 100px;
  }
  .heading-title.heading-style-01 {
    padding-top: 60px;
  }
  .contact-st .group-btn {
    margin-bottom: 0px;
  }
  .logo-st figure {
    margin: 1em 20px;
  }

  .site-footer{
    padding-top: 28px;
  }

  .site-footer .footer-menu{
    margin-top: 0px;
    margin-bottom: 3px;
  }

  .site-footer .copy-text{
    font-size: 9px;
    transform: scale(.9);
  }
}

@media (max-width: 667px) {
  .privacy-page .description-privacy p {
    font-size: 14px;
  }
}

/*=====  End of Privacy Page  ======*/
/*===============================


/*==================================
=            RESPONSIVE            =
==================================*/
@media (min-width: 991px) and (max-width: 1199px) {
  .exhibitors-list > .exhibitor-item {
    width: 25%;
  }
  .exhibitors-list > .exhibitor-item:nth-last-child(-n+4) {
    margin-bottom: 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .exhibitors-list {
    margin-left: -15px;
    margin-right: -15px;
  }
  .exhibitors-list > .exhibitor-item {
    padding-left: 15px;
    padding-right: 15px;
    width: 25%;
  }
  .exhibitors-list > .exhibitor-item:nth-last-child(-n+4) {
    margin-bottom: 0px;
  }
  #mapArea .tab > li {
    margin-left: 8px;
    margin-right: 8px;
  }
  #mapArea .tab > li a.btn {
    min-width: 160px;
  }
}

@media (max-width: 767px) {
  .exhibitors-list {
    margin-left: -15px;
    margin-right: -15px;
  }
  .exhibitors-list > .exhibitor-item {
    padding-left: 15px;
    padding-right: 15px;
    width: 50%;
  }
  .exhibitors-list > .exhibitor-item:nth-last-child(-n+2) {
    margin-bottom: 0px;
  }
  .exhibitors-list > .exhibitor-item .pic-wrapp img {
    width: auto;
  }
  .exhibitor-item .desc-wrapp .link {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .events-list > .event-item {
    display: block;
    width: 100%;
    flex-wrap: initial;
    padding-top: 0px;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .events-list > .event-item:last-child {
    margin-bottom: 0px;
  }
  .event-item {
    position: relative;
    min-height: 100px;
  }
  .event-item .event-top-block {
    position: absolute;
    margin-bottom: 0px;
    display: block;
    top: 0;
    left: 0;
  }
  .event-item .main-block {
    padding-left: 110px;
    padding-right: 0;
    margin-bottom: 10px;
    text-align: left;
    display: block;
  }
  .event-item .right-block {
    padding-left: 110px;
    text-align: left;
    max-width: 100%;
  }
  .event-item .right-block .btn {
    min-width: none;
    min-width: initial;
  }
  .contact-st .group-btn > .btn {
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 0px;
    vertical-align: top;
    width: 45%;
    min-width: 33%;
    font-size: 15px;
    border: 2px solid #C3A384;
    padding: 10px 0px 7px;
  }

  .contact-st .group-btn > .btn span{
    font-size: 9px;
    margin-top: 3px;
    transform: scale(0.9);
  }

/*  .contact-st .group-btn > .btn:last-child {
    margin-bottom: 0px;
  }*/

  #mapArea .tab {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  #mapArea .tab > li {
    margin: 0px 5px 20px;
  }
  #mapArea .btn.btn-bg.border-bg {
    min-width: 155px;
  }
  .exhibitor-item .desc-wrapp {
    opacity: 1;
  }
}

@media (max-width: 480px) {
  .exhibitors-list {
    margin-left: -10px;
    margin-right: -10px;
  }
  .exhibitors-list > .exhibitor-item {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
  }
}

@media (max-width: 320px) {
  .event-item .main-block {
    padding-left: 100px;
  }
  .event-item .right-block {
    padding-left: 100px;
  }
  .event-item .right-block .btn {
    padding-left: 20px;
    padding-right: 20px;
  }
  #mapArea .btn.btn-bg.border-bg {
    min-width: 125px;
    padding: 5px 10px;
    font-size: 12px;
  }
}

/*=====  End of RESPONSIVE  ======*/

.nav-tabs {
  border: 0;
}
.tab-content {
  margin-top: 28px;
}
.nav-tabs>li {
  float: none;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  border: 2px solid #c3a385;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  min-width: 325px;
  text-align: center;
  color: #c3a384;
  text-transform: uppercase;
  font-family: artless_groteskmedium;
  font-weight: 500;
}
.nav.nav-tabs li a {
  line-height: 23px;
}
.title-index {
  padding-bottom: 0px;
  position: relative;
  font-size: 30px;
  color: #c3a384;
  text-align: left;
  font-family: artless_groteskmedium;
  font-weight: 500;
  border-bottom: 4px solid #c3a384;
}
.artist-brand {
  overflow: hidden;
}
.tab-content {
  padding-left: 15px;
}
/* .title-index:after {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 5px;
   background-color: #c3a385;
   opacity: 1;
} */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color: transparent;
  border: 0;
  color: #c3a384;
}

.tab-content .left {
  padding-right: 0;
}
.tab-content .right {
  padding-left: 0;
}
.content-index li a {
  color: #c3a384;
}
.content-index {
  padding-top: 25px;
  padding-bottom: 45px;
}
.content-index ul li {
  line-height: 2.4;
  font-weight: 700;
  padding: 0 15px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav>li>a:hover {
  background-color: transparent;
  border: 0;
  color: #c3a384;
}
.nav-tabs>li>a {
  border: 0;
}
.nav>li>a {
  padding: 2px 0;
}
.tab-pane.right .title-index span {
  font-size: 0;
}
.tab-pane.right ul {
  margin-left: 32%;
  text-align: left;
}
.festival .contact-st {
  -ms-transform: skew(0, 10deg);
  -o-transform: skew(0, 10deg);
  -moz-transform: skew(0, 10deg);
  -webkit-transform: skew(0, 10deg);
  transform: skew(0, 10deg);
}


.title-description {
  font-size: 13px;
  text-decoration: underline;
  color: #c3a384;
  margin-top: 6px;
  font-family: artless_groteskmedium;
  font-weight: 500;
}
.nav.nav-tabs li {
  margin-right: 85px;
}
.nav.nav-tabs li + li {
  margin-left: 85px;
  margin-right: 0;
}
.content-index li img {
  margin-left: 17px;
}
.first-letter {
  font-size: 30px;
  color: #c3a384;
  font-family: artless_groteskmedium;
  font-weight: 500;
  text-transform: uppercase;
}
.content-index ul li {
  font-size: 12px;
  color: #fff;
  font-weight: 700;
}
.year {
  font-size: 0;
  padding-bottom: 25px;
  border-bottom: 4px solid #c3a384;
}
.year .item {
  font-size: 14px;
  display: inline-block;
  font-family: artless_groteskmedium;
  vertical-align: top;
  border:  2px solid #c3a385;
  border-radius: 10px;
  text-align: center;
  color: #c3a384;
  min-width: 120px;
  margin: 23px 10px 0;
}
.year .item a {
  display: block;
}
.year .item.active {
  background-color: #c3a384;
  color: #342b23;
}
.character span {
  font-size: 30px;
  color: #c3a384;
  margin-right: 13px;
  font-family: artless_groteskmedium;
  font-weight: 500;
}

.content-festival {
  text-align: center;
  margin-top: 80px;
}
.year-content .block-content,
.year-content .block-character .menu {
  text-align: left;
  color: #fff;
}
.block-content .title {
  font-weight: bold;
  font-size: 12px;
}
.year-content .block-character .menu {
  padding-top: 20px;
  position: relative;
  font-size: 10px;
  font-family: artless_groteskmedium;
  font-weight: 500;
}
.year-content .block-character .menu i {
  font-size: 10px;
  margin: 0 2px 0 5px;
}
.year-content .block-character .menu:after {
  content: '';
  font-family: "FontAwesome";
}
.year-content .block-content {
  margin-top: 20px;
}
.year-content .block-character .character {
  text-align: left;
  margin-bottom: 60px;
  margin-top: -5px;
}
.block-index .content-index .right ul{
  margin-left: 32%;
  text-align: left;
}
@media screen and (max-width: 991px) {
  .nav.nav-tabs li {
    margin-right: 20px;
  }
  .nav.nav-tabs li + li {
    margin-left: 20px;
  }
}
.block-text .item.mb {
  display: none;
}
@media screen and (max-width: 768px) {
  .block-text-detail .item.mb br {
    display: none;
  }
  .block-text .item.mb {
    display: block;
  }
  .block-text .item.mb .hiden-mb {
    display: none;
  }
  .block-text .item.pc {
    display: none;
  }
  .block-text .block-post-info .item:nth-child(2) {
    display: none;
  }
  .block-post-info .block-images img {
    max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .year .item {
    font-size: 9px;
    min-width: auto;
    padding: 3px 30px;
  }
  .year .item a {
    display: inline-block;
  }
  .tab-pane .title-index span,
  .tab-pane:first-child .title-index span {
    font-size: 22px;
    margin: 0 10px;
  }

  .tab-content .right {
    padding-left: 15px;
  }
  .tab-content {
    margin-top: 0px;
  }
  .nav.nav-tabs li {
    margin-right: 5px;
  }
  .nav.nav-tabs li + li {
    margin-left: 5px;
  }
  .content-festival .container {
    padding: 0;
  }
  .block-content,
  .character,
  .menu {
    padding: 0 10px;
  }
  .nav.nav-tabs li.active {
    background-color: #c3a384;

  }
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav>li>a:hover {
    color: #000;
  }
  .nav-tabs {
    border-bottom: 4px solid #c3a384;
  }
  .content-festival {
    margin-top: 80px;
  }
  .nav-tabs>li {
    font-size: 9px;
    min-width: 160px;
    padding: 0px 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-bottom: 0;
  }
  .tab-pane.left .title-index span,
  .tab-pane.right .title-index span {
    font-size: 18px;
    margin: 0 8px;
  }
  .year-content .block-character .menu {
    padding-top: 15px;
  }
  .content-index {
    text-align: left;
    margin: 0 22px;
  }
  .tab-pane.right ul {
    margin-left: 0;
  }
  .tab-pane {
    display: none
  }
  .tab-pane.active {
    display: block;
  }
  .block-content .title {
    font-size: 10px;
  }
  .title-description {
    font-size: 9px;
    margin-top: 2px;
  }
  .year-content .block-character .character span {
    font-size: 22px;
  }
  .category .item {
    font-size: 9px;
    min-width: auto;
    padding: 5px 15px;
  }
  .year-content .block-character .character {
    margin-bottom: 35px;
  }
  .category .category-left {
    margin-right: 5px;
  }
  .category .category-right {
    margin-left: 5px;
  }
  .block-index .title-index {
    font-size: 18px;
    margin-top: 20px;
  }
  .block-index-character .left li {
    text-align: left;
  }
  .year .item {
    margin: 15px 5px 0;
  }
}

@media screen and (max-width: 380px) {
  .site-footer .footer-menu{
    /*margin-bottom: 15px;*/
  }
}

@media screen and (max-width: 320px) {
  .nav-tabs>li {
    min-width: 145px;
  }
  .site-header .btn-designart
  { font-size: 11px;}

}

/*TEMPPP CSSS
Can delete any time.

*/
.btn.btn-bg.border-bg.yellow.deactive{
  cursor:default;
  background-color: #eeeeee;

}