@import "_mixins";

/*=======================================
=            Change Language            =
=======================================*/

	body {
		&.language-en {
			.logo-st figure .name,
			.privacy-page.access-page,
			.exhibitor-item .desc-wrapp .desc {
				font-family: artless_groteskmedium;
				font-weight: 500;
			}
		}
	}

/*=====  End of Change Language  ======*/

/*==================================
=            Slider top            =
==================================*/

	.top-slider-st {
		height: 583px;
		background-color: $text-color-light;
	}

/*=====  End of Slider top  ======*/
.landing-st {
	margin-top: 56px;
	margin-bottom: 95px;
	.heading-title {
		margin-bottom: 30px;
	}
	&.contact-st {
		margin-bottom: 60px;
	}
}
.landing-blog-wrapp {
	max-width: 710px;
	margin-left: auto;
	margin-right: auto;
}




/*======================================
=            Exhibitor list            =
======================================*/
	.exhibitors-list {
		margin-left: -31px;
		margin-right: -31px;
		margin-bottom: 50px;
		font-size: 0px;
		display: block;
		text-align: center;
		@extend .clearfix;
		>.exhibitor-item {
			width: 20%;
			padding-left: 31px;
			margin-bottom: 40px;
			padding-right: 31px;
			font-size: 14px;
			text-align: left;
			display: inline-block;
			vertical-align: top;
			position: relative;
		}
	}
	.exhibitor-item {
		.inner{
			position: relative;
			width: 100%;
			overflow: hidden;
			&:before{
				content: "";
				display:block;
				padding-top: 100%;
			}
			&:hover{
				.desc-wrapp {
					opacity: 1;
				}
			}
		}
		.desc-wrapp,
		.pic-wrapp {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top:0;
		}
		.pic-wrapp {
			overflow: hidden;
			&:before{
				content: "";
				display: block;
				padding-top: 100%;
			}
			img{
				height: 120%;
				position: absolute;
				top: 50%;
				left: 50%;
				width:auto;
				max-width: none;
				max-width: initial;
				@include transform(translate(-50%,-50%));
			}
		}
		.desc-wrapp {
			@include transition(all 0.4s ease);
			opacity: 0;
			.link{
			padding: 26px 14px;
			display: block;
			height: 100%;
			}
			background-color: rgba(0,0,0,0.6);
			.category{
				font-size: 12px;
				color: $primary-color;
				font-family: artless_groteskmedium;
			}
			.desc {
				font-size: 13px;
				color: #FFF;
				display: block;
				max-height: 70px;
				overflow: hidden;
				font-weight: 600;
			}
		}
	}
	

/*=====  End of Exhibitor list  ======*/

/*========================================
=            Area map section            =
========================================*/
	.area-map-st {
		.heading-title{
			margin-bottom: 34px;
		}
	}
	#mapArea{
		.map{
			width:100%;
			height: 340px;
			position: relative;
			margin-bottom: 60px;
			border:4px solid $primary-color;
			iframe {
				width: 100%;
				height: 100%;
				border:none;
				position: relative;
				z-index: 11;
			}

		}
		.tab {
			list-style: none;
			padding-left: 0px;
			text-align: center;
			margin-bottom: 25px;
			>li{
				display: inline-block;
				margin: 0px 15px 20px;
				&.on{
					a{
						opacity: 0.6;
						cursor: default;
					}
				}
			}
		}
		.btn {
			font-weight: 300;
		}
	}
	.map{
		width:100%;
		height: 340px;
		margin-bottom: 60px;
		border:4px solid $primary-color;
		iframe {
			width: 100%;
			height: 100%;
			border:none;
			position: relative;
			z-index: 11;
		}
		&:before{
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: #FFFFFF;
			top: 0;
			left: 0;
			background-image: url(../images/Rolling.gif);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 50px 50px;
			z-index: 10;
			opacity: 0;
			@include transition(all 0.3s ease);
		}
		&.loading {
			&:before{
				opacity: 1;
			}
		}
	}

/*=====  End of Area map section  ======*/

/*==================================
=            Event List            =
==================================*/
.flex{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
  	flex-wrap: wrap;
}
.events-list {
	margin-bottom: 50px;
	>.event-item {
		border-bottom: 1px solid $text-color;
		padding: 30px 0;
	}
}
.event-item {
	display: table;
	width: 100%;
	max-width: 100%;
	.event-top-block {
		width: 90px;
		display: table-cell;
		vertical-align: middle;
		background-color: $text-color;
		text-align: center;
		color: $primary-color;
		font-family: artless_groteskmedium;
		padding: 20px 15px 12px;
		.cate {
			color: #FFFFFF;
			text-transform: uppercase;
			font-size: 10px;
			display: block;
			margin-bottom: 4px;
			line-height: 1;
		}
		.date {
			display: block;
			line-height: 1.5;
			word-break: normal;
		}
	}
	.main-block {
		padding-left: 20px;
		padding-right: 20px;
		display: table-cell;
		vertical-align: middle;
	}
	.right-block {
		display: table-cell;
		vertical-align: middle;
		text-align: right;
		max-width: 175px;
	}
	.area {
		.lb-text{
			font-family: artless_groteskmedium;
			color: $primary-color;
		}
		.place {
			font-size: 12px;
			font-weight: 500;
		}
	}
	.title {
		font-weight: 600;
		font-size: 16px;
		font-family: $jp-font;
	}
	&.party {
		.event-top-block {
			background-color: $primary-color;
			color: $text-color;
		}
	}
}
/*=====  End of Event List  ======*/

/*=======================================
=            Contact section            =
=======================================*/
.contact-st {
	padding-bottom: 20px;
	.heading-title {
		margin-bottom: 23px;
	}
	.group-btn {
		margin-bottom: 75px;
		>.btn {
			margin-left: 25px;
			margin-right: 25px;
			padding: 10px 20px;
		}
	}
	.social-list  {
		.social-item{
			width: 48px;
			height: 48px;
			line-height: 48px;
			font-size: 24px;
			margin-left: 10px;
			margin-right: 10px;
		}
	}
}


/*=====  End of Contact section  ======*/

/*================================
=            Back top            =
================================*/
	.wp-back-to-top {
		&.top2 {
			position: fixed;
			right: 20px;
			bottom: 30px;
			z-index: 90;
			@include transform(translate(20px,100%));
			opacity: 0;
			@include transition(all 0.3s ease);
			&.show{
				@include transform(translate(20px,0));
				opacity: 1;
			}

		}
		
	}


/*=====  End of Back top  ======*/


/*==============================
=            Footer            =
==============================*/

.site-footer {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: $text-color;
	color: $primary-color;
	font-family: artless_groteskmedium;
	.footer-menu {
		list-style: none;
		padding-left: 0px;
		margin-bottom: 30px;
		>li{
			display: inline-block;
			margin-left: 18px;
			margin-right: 18px;
			a{
				font-family: artless_groteskmedium;
				font-size: 13px;
				&:hover,
				&:focus{
					color: #FFFFFF;
				}
			}
		}
	}
	.social-list {
		margin-bottom: 20px;
		.social-item {
			width: auto;
			height: auto;
			line-height: 1;
			font-size: 25px;
			background-color: transparent;
			color: $primary-color;
			margin-left: 10px;
			margin-right: 10px;
			&:hover{
				color: #FFFFFF;
			}
		}
	}
	.copy-text {
		font-size: 12px;
	}
}


/*=====  End of Footer  ======*/


/*====================================
=            Privacy Page            =
====================================*/

	.privacy-page {
		&.black {
			color: $white-color;
			.title-privacy {
				color: $primary-color;
				font-size: 21px;
			}
			.wp-block-contact {
				.heading-title {
					&.heading-style-01 {
						display: none;
					}
				}
				.title {
					&.first {
						&.st {
							margin-bottom: 0;
						}
					}
				}
			}
			&.access-page {
				.box-info.last {
					margin-bottom: 110px;
				}
			}
			.heading-title {
				&.heading-style-02 {
					.line-middle {
						display: none;
					}
				}
			}
		}
		&.access-page {
			.box-info.last {
				margin-bottom: 320px;
			}
		}
		.description-privacy {
			margin-bottom: 50px;
			p {
				font-size: 15px;
				letter-spacing: 1.2px;
				margin-bottom: 25px;
			}
		}
	}

	@media (max-width:767px) {
		.privacy-page {
			&.black {
				&.access-page {
					.box-info.last {
						margin-bottom: 0;
					}
				}
			}
			&.access-page {
				.box-info.last {
					margin-bottom: 100px;
				}
			}
		}
	}

	@media (max-width:667px) {
		.privacy-page {
			.description-privacy {
				p {
					font-size: 14px;
				}
			}
		}
	}

/*=====  End of Privacy Page  ======*/

/*===============================
=            Logo st            =
===============================*/
	
	.logo-st {
		text-align: center;
		figure {
			display: inline-block;
			vertical-align: top;
			.name {
				margin-top: 5px;
				text-transform: uppercase;
				text-align: center;
				font-weight: 600;
				color: $text-color;
			}
		}
	}

/*=====  End of Logo st  ======*/


/*==================================
=            RESPONSIVE            =
==================================*/

	@media (min-width: 1200px) {
		.exhibitors-list {
			>.exhibitor-item {
				&:nth-last-child(-n+5){
					margin-bottom: 0px;
				}
			}
		}
	}
	@media (min-width: 991px) and (max-width: 1199px) {
		.exhibitors-list {
			>.exhibitor-item {
				width: 25%;
				&:nth-last-child(-n+4){
					margin-bottom: 0px;
				}
			}
		}
	}
	@media (min-width: 768px) and (max-width: 991px) {
		.exhibitors-list {
			margin-left: -15px;
			margin-right: -15px;
			>.exhibitor-item {
				padding-left: 15px;
				padding-right: 15px;
				width: 25%;
				&:nth-last-child(-n+4){
					margin-bottom: 0px;
				}
			}
		}
	}
	@media (max-width: 767px) {
		.exhibitors-list {
			margin-left: -15px;
			margin-right: -15px;
			>.exhibitor-item {
				padding-left: 15px;
				padding-right: 15px;
				width: 50%;
				&:nth-last-child(-n+2){
					margin-bottom: 0px;
				}
				.pic-wrapp {
					img{
						width: 100%;
					}
				}
			}
		}
		.exhibitor-item {
			.desc-wrapp {
				.link{
					display: -webkit-box;
					display: -moz-box;
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
					-webkit-flex-direction: column;
					flex-direction: column;
					-webkit-justify-content:center;
					justify-content:center;
				}
			}
		}
		.events-list {
			>.event-item {
				display: block;
				width: 100%;
			    flex-wrap: initial;
			    padding-top: 0px;
				padding-bottom: 30px;
				margin-bottom: 30px;
				&:last-child{
					margin-bottom: 0px;
				}
			}
		}
		.event-item{
			position: relative;
			min-height: 100px;
			.event-top-block {
			position: absolute;
			margin-bottom: 0px;
			display: block;
			top: 0;
			left: 0;
			}
			.main-block {
				padding-left: 110px;
				padding-right: 0;
				margin-bottom: 10px;
				text-align: left;
				display: block;
			}
			.right-block {
				padding-left: 110px;
				text-align: left;
				max-width: 100%;
				.btn {
					min-width: none;
					min-width: initial;
				}
			}

		}
		.contact-st  {
			.group-btn {
				> .btn {
					margin-left: 0px;
					margin-right: 0px;
					margin-bottom: 15px;
					vertical-align: top;
					&:last-child{
						margin-bottom: 0px;
					}
				}
			}
		}
		#mapArea {
			.tab {
				max-width: 400px;
				margin-left: auto;
				margin-right: auto;
				> li {
					margin:0px 5px 20px;
				}
			}
			.btn {
				&.btn-bg.border-bg{
					min-width: 155px;
				}
			}
		}
	}
	@media (max-width: 480px) {
		.exhibitors-list {
			margin-left: -10px;
			margin-right: -10px;
			>.exhibitor-item {
				width: 50%;
				padding-left: 10px;
				padding-right: 10px;
				margin-bottom: 30px;
			}
		}
	}
	@media (max-width: 320px) {
		.event-item {
			.main-block {
				padding-left: 100px;
			}
			.right-block {
				padding-left: 100px;
				.btn {
					padding-left: 20px;
					padding-right: 20px;
				}
			}
		}
		#mapArea {
			.tab {
				>li{

				}
			}
			.btn {
				&.btn-bg.border-bg{
					min-width: 125px;
					padding: 5px 10px;
					font-size: 12px;
				}
			}
		}
	}
/*=====  End of RESPONSIVE  ======*/

