/* [ clear-float ]
-------------------------------------------------*/
.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* [ box-shadow ]
-------------------------------------------------*/
/* [ border-radius]
-------------------------------------------------*/
/* [ input-placeholder ]
-------------------------------------------------*/
/* [ transition ]
-------------------------------------------------*/
/* [ transform ]
-------------------------------------------------*/
/* [ opacity ]
-------------------------------------------------*/
/* [ calc ]
-------------------------------------------------*/
/* [ ratio img ]
-------------------------------------------------*/
/* [ position img ]
-------------------------------------------------*/
/* [ position img ]
-------------------------------------------------*/
/* [ font ]
-------------------------------------------------*/
/*==================================
=            Conference page       =
==================================*/
@media (max-width: 767px){
  .conference-page{
    margin-top: 80px;
  }
}

.conference-page .title {
  display: block!important;
  color: #a68568 !important;
  margin-top: 0;
}

.conference-page .cl-white {
  color: #fff;
  font-weight: 700;
}

.conference-page .p-relative {
  position: relative !important;
}

.conference-page .p-absolute {
  position: absolute !important;
}

.conference-page .py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.conference-page .px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.conference-page .p-20 {
  padding: 20px;
}

.conference-page .pl-10 {
  padding-left: 10px;
}

.conference-page .pl-20 {
  padding-left: 20px;
}

.conference-page .mr-20 {
  margin-right: 20px;
}

@media (max-width: 991px) {
  .conference-page .mr-20 {
    margin-right: 0;
  }
}

.conference-page .mb-30 {
  margin-bottom: 30px;
}

.conference-page .mb-20 {
  margin-bottom: 20px;
}

.conference-page .mb-10 {
  margin-bottom: 10px;
}

.conference-page .mb-0 {
  margin-bottom: 0;
}

.conference-page .conference-banner > .title {
  display: block;
  font-size: 44px;
  text-align: center;
  text-transform:inherit;
}
.conference-page ul.pl-list > li > a:hover{
  color:#a68568;
}

@media (max-width: 767px) {
  .conference-page .conference-banner > .title {
    margin-bottom: 35px;
    font-size: 22px;
  }
}

.conference-page .conference-banner .banner-description {
  font-size: 18px;
}

@media (max-width: 767px) {
  .conference-page .conference-banner .banner-description {
    font-size: 11px;
  }
  .conference-page .conference-banner{
    margin-bottom: 0;
  }

}

.conference-page .conference-banner .banner-image::before{
  content: "";
  display: block;
  padding-top: 67%;
}
.conference-page .conference-banner .banner-image img{
  position: absolute;
  top: 0;
  left: 50%;
  max-width: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.conference-page .conference-banner .banner-image > ul {
  font-size: 60px;
  max-width: 510px;
  text-align: right;
  right: 26px;
  bottom: 40px;
}

.conference-page .conference-banner .banner-image > ul > li {
  display: inline-block;
  background-color: #000000;
  height: 80px;
  line-height: 80px;
  padding: 0 50px;
  float: right;






}

@media (max-width: 767px) {
  .conference-page .conference-banner .banner-image > ul > li {
    height: 40px;
    line-height: 40px;
    padding: 0 38px;
  }
}

@media (max-width: 991px) {
  .conference-page .conference-banner .banner-image > ul {
    font-size: 40px;
    right: -1px;
    bottom: 10px;
  }
}
@media (max-width: 767px) {
  .conference-page .conference-banner .banner-image > ul {
    font-size: 20px;
  }
}

/* @media (max-width: 575px) {
  .conference-page .conference-banner .banner-image > ul {
    display: none;
  }
} */

.conference-page .conference-summary-list {
  margin-bottom: 74px;
}
@media (max-width: 767px) {
  .conference-page .conference-summary-list {
    margin-bottom: 34px;
  }
}

.conference-page .program-list-item {
  margin-bottom: 85px;
}
@media (max-width: 767px) {
  .conference-page .program-list-item {
    margin-bottom: 40px;
  }
}


.conference-page .program-list-item:last-child {
  margin-bottom: 0;
}

.conference-page .program-list-item .date {
  font-size: 48px;
}
@media (max-width: 767px) {
  .conference-page .program-list-item .date {
    font-size: 24px;
  }
}


.conference-page .program-list-item .date small {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  margin-left: 9px;
}
@media (max-width: 767px) {
  .conference-page .program-list-item .date small{
    font-size: 10px;
  }
}


.conference-page .program-detail {
  margin-bottom: 80px;
}
@media (max-width: 767px){
  .conference-page .program-detail {
    margin-bottom: 40px;
  }
}


.conference-page .program-detail:last-child {
  margin-bottom: 0;
}

.conference-page .program-detail .time-banner {
  display: flex!important;
  color: #000000 !important;
  background-color: #a68568;
  padding: 20px;
}

@media (max-width: 767px) {
  .conference-page .program-detail .time-banner {
    flex-wrap: wrap;
    font-size: 15px;
  }
}

.conference-page .program-detail .presentation {
  color: #fff;
  font-weight: 700;
  border: 1px solid #a68568;
  border-top: 0;
  padding: 17px 20px;
}

@media (max-width: 767px) {
  .conference-page .program-detail .presentation {
    border-bottom: 0;
    font-size: 11px;
  }
}

.conference-page .program-detail .btn-entry {
  display: block;
  margin: 0 auto;
  max-width: 188px;
  padding: 7px 10px;
  color: #000000;
  background-color: #a68568;
  font-size: 20px;
  text-transform: uppercase;
  width: auto;
  border-color: transparent;
}

@media (max-width: 767px) {
  .conference-page .program-detail .btn-entry {
    max-width: 340px;
    font-size: 18px;
  }
}

.conference-page .program-detail .program-detail-body {
  padding-top: 24px;
  padding-bottom: 53px;
  border: 1px solid #a68568;
  border-top: 0;
}

@media (max-width: 767px) {
  .conference-page .program-detail .program-detail-body {
    padding-top: 6px;
  }
}

.conference-page .program-detail .program-detail-body .title {
  font-size: 18px;
}

@media (max-width: 767px) {
  .conference-page .program-detail .program-detail-body .title {
    font-size: 16px;
  }
}

.conference-page .panelist {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .conference-page .panelist {
    margin-bottom: 50px;
  }
}

.conference-page .panelist > .item {
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .conference-page .panelist > .item {
    margin-bottom: 30px;
  }
}

.conference-page .panelist > .item:last-child {
  margin-bottom: 0;
}

.conference-page .panelist > .item .f-blc-img {
  float: left;
}

.conference-page .panelist > .item .name, .conference-page .panelist > .item .f-blc-content {
  max-width: 794px;
  padding-left: 200px;
  margin-right: auto;
}

.conference-page .panelist > .item .name {
  padding-top: 4px;
  font-size: 18px;
  font-weight: 700;
  color: #a68568;
}

.conference-page .panelist > .item .name > span {
  font-size: 15px;
}
.conference-page .panelist > .item .name > span:last-child {
  padding-left: 10px;
}
@media (max-width: 767px) {
  .conference-page .panelist > .item .name > span {
    display: block;
    font-size: 10px;
  }
  .conference-page .panelist > .item .name > span.text-uppercase {
    font-size: 15px;
  }
  .conference-page .panelist > .item .name > span.mb-hide {
    display: none;
  }
  .conference-page .panelist > .item .name > span:last-child {
    padding-left: 0px;
  }
}

@media (max-width: 767px) {
  .conference-page .panelist > .item .name {
    padding-left: 53%;
    font-size: 15px;
  }
}

@media (max-width: 375px) {
  .conference-page .panelist > .item .name {
    padding-left: 145px;
  }
}

.conference-page .panelist > .item .f-blc-content .description {
  color: #fff;
  margin-bottom: 24px;
  line-height: 1.8;
}

.conference-page .panelist > .item .f-blc-content .description p {
  margin-bottom: 0;
}

.conference-page .panelist > .item .f-blc-content .link {
  color: #b48e6b;
}

.conference-page .panelist > .item .f-blc-content .description, .conference-page .panelist > .item .f-blc-content .link {
  display:block;
  width:100%;
  font-size: 14px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .conference-page .panelist > .item .f-blc-content .description, .conference-page .panelist > .item .f-blc-content .link {
    font-size: 10px;
  }
}

@media (max-width: 767px) {
  .conference-page .panelist > .item .f-blc-content {
    clear: both;
    padding-left: 0;
    padding-top: 18px;
  }
}

.conference-page .panelist > .item .img-res {
  display: block;
  max-width: 100%;
  height: auto;
}
@media (max-width: 767px) and (min-width: 640px) {
  .conference-page .panelist > .item .img-res {
    width: 270px;
  }
}
@media (max-width: 375px) {
  .conference-page .panelist > .item .img-res {
    width: 120px;
  }
}

@media (max-width: 767px) {
  .conference-page .panelist > .item .f-blc-content .description {
    margin-bottom: 10px;
  }
}


.conference-page .panelist > .item::before, .conference-page .panelist > .item::after {
  content: "";
  display: block;
  clear: both;
}

.conference-page .btn-entry-fixed {
  position: fixed;
  color: #000000;
  background-color: #a68568;
  border: 2px solid #a68568;
  height: 113px;
  min-width: initial;
  top: 289px;
  right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: 0;
  font-size: 26px;
  padding: 0 40px;
  text-transform: uppercase;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px){
  .conference-page .btn-entry-fixed{
    height: 60px;
    font-size: 10px;
    padding: 0 20px;
    border-color: #000;
    position:fixed;
    top:500px;
  }
  .conference-page .btn-entry-fixed .text{
    margin-bottom: 0;
  }
}
@media (max-height: 580px){
  .conference-page .btn-entry-fixed{
    height: 60px;
    font-size: 10px;
    padding: 0 20px;
    border-color: #000;
    position:fixed;
    top:400px;
  }
  .conference-page .btn-entry-fixed .text{
    margin-bottom: 0;
  }
}

.conference-page .btn-entry-fixed .text {
  line-height: 20px;
}

.conference-page .btn-entry-fixed .icon{
  display: inline-block;
  width: 30px;
  height: 26px;
  background-image: url("../images/icons-entry/log-in.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}
@media (max-width: 767px){
  .conference-page .btn-entry-fixed .icon{
    width: 20px;
    height: 20px;
  }
}
.conference-page .btn-entry-fixed.is-mobile {
  height: 60px;
  font-size: 10px;
  padding: 0 20px;
  border-color: #000;
}
.conference-page .btn-entry-fixed.is-mobile .text{
  margin-bottom: 0;
}

@media (min-width: 768px){
  .conference-page .btn-entry-fixed:hover:not(.is-mobile), .conference-page .btn-entry-fixed.is-scrolling:not(.is-mobile) {
    background-color: #000000;
    color: #a68568;
  }
  .conference-page .btn-entry-fixed:hover:not(.is-mobile) .icon, .conference-page .btn-entry-fixed.is-scrolling:not(.is-mobile) .icon{
    background-image: url("../images/icons-entry/log-in-hover.png");
  }
}


.conference-page .conference-program .bookmark-list {
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .conference-page .conference-program .bookmark-list {
    margin-bottom: 25px;
  }
}


@media (max-width: 767px) {
  .conference-page .st-list .st-list-col {
    margin-bottom: 33px;
  }
  .conference-page .st-list .st-list-col:last-child {
    margin-bottom: 0;
  }

  .conference-page .st-list,
  .conference-page .st-list .st-list-item-title{
    font-size: 11px;
  }

  .conference-page .st-list .title, .conference-page .conference-program > .title{
    font-size: 15px;
  }

}

.heading-title.heading-style-02 .title:nth-child(2){
  text-transform:capitalize;
}



/*=====  End of Conference page  ======*/
