$primary-color: #C3A384;
$gray-color: #5B5858;
$heading-color: #000000;
$text-color: #000000;
$text-color-light: #333333;
$white-color: #fff;
$primary-font : 'Poppins', sans-serif;
$secondary-font : artless_groteskregular, sans-serif;
$jp-font: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
$icon-font: 'fontAwesome';

$title-color: #a68568;
/* [ clear-float ]
-------------------------------------------------*/
.clearfix{
    &:before{
        content: "";
        display: table;
    }
    &:after{
        content: "";
        display: table;
        clear: both;
    }
}

/* [ box-shadow ]
-------------------------------------------------*/
@mixin box-shadow($val){
    -webkit-box-shadow: $val;
    box-shadow: $val;
}

/* [ border-radius]
-------------------------------------------------*/
@mixin border-radius($val){
    border-radius: $val;
    -webkit-border-radius: $val;
}

/* [ input-placeholder ]
-------------------------------------------------*/
@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

/* [ transition ]
-------------------------------------------------*/
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}
@mixin transition-duration($duration...) {
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}

/* [ transform ]
-------------------------------------------------*/
@mixin transform($param ...) {
    -ms-transform: $param;
    -o-transform: $param;
    -moz-transform: $param;
    -webkit-transform: $param;
    transform: $param;
}

/* [ opacity ]
-------------------------------------------------*/
@mixin opacity($num){
    -ms-filter: alpha(opacity=$num); /* IE8 */
    opacity: $num/100;
}

/* [ calc ]
-------------------------------------------------*/
@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

/* [ ratio img ]
-------------------------------------------------*/
@mixin ratio-img($param) {
  content: "";
  display: block;
  padding-top: $param;
}

/* [ position img ]
-------------------------------------------------*/
@mixin absolute-img() {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  max-width: none;
  width: auto;
  object-fit: cover;
  object-position: 50% 50%;
  @include transform(translate(-50%,-50%));
}

/* [ position img ]
-------------------------------------------------*/
@mixin absolute-full() {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* [ font ]
-------------------------------------------------*/
@mixin font($fontSize, $fontWeight: false){
    font-size: $fontSize;
    @if $fontWeight{
        font-weight: $fontWeight;
    }
}







