@import "_mixins";

	/*=======================================
	=            Change Language            =
	=======================================*/

		body {
			&.language-en {
				font-family: artless_groteskregular;
				.page-content, 
				.entry-content, 
				.entry-summary {
					font-family: artless_groteskregular;
				}
			}
		}

	/*=====  End of Change Language  ======*/
	
	body {
		font-family: $jp-font;
		font-size: 14px;
		line-height: 1.7;
		font-weight: 400;
		color: $text-color;
		font-feature-settings: "palt"; 
	    text-rendering: optimizeLegibility;
    	-webkit-font-smoothing: antialiased;
    	word-break: break-word;
	}

/*----------  Font Face  ----------*/

	@font-face {
	    font-family: artless_grotesklight;
	    src: url('fonts/artless_grotesklight.eot');
	    src: url('fonts/artless_grotesklight.eot?#iefix') format("embedded-opentype"), url('fonts/artless_grotesklight.svg#artless_grotesklight') format("svg"), url('fonts/artless_grotesklight.woff') format("woff"), url('fonts/artless_grotesklight.ttf') format("truetype");
	    font-weight: 300;
	    font-style: normal
	}

	@font-face {
	    font-family: artless_groteskregular;
	    src: url('fonts/artless_groteskregular.eot');
	    src: url('fonts/artless_groteskregular.eot?#iefix') format("embedded-opentype"), url('fonts/artless_groteskregular.svg#artless_groteskregular') format("svg"), url('fonts/artless_groteskregular.woff') format("woff"), url('fonts/artless_groteskregular.ttf') format("truetype");
	    font-weight: 400;
	    font-style: normal
	}

	@font-face {
	    font-family: artless_groteskmedium;
	    src: url('fonts/artless_groteskmedium.eot');
	    src: url('fonts/artless_groteskmedium.eot?#iefix') format("embedded-opentype"), url('fonts/artless_groteskmedium.svg#artless_groteskmedium') format("svg"), url('fonts/artless_groteskmedium.woff') format("woff"), url('fonts/artless_groteskmedium.ttf') format("truetype");
	    font-weight: 500;
	    font-style: normal
	}

/*=====================================
=            General style            =
=====================================*/
	.site-content {
		padding-bottom: 100px;
	}
	a,
	a.btn-link,
	a.btn-link:hover,
	a.btn-link:active,
	a:hover,
	a:focus,
	a:active,
	a:visited,
	.btn-link:focus,
	.btn-link:active{
		text-decoration: none;
	    outline-offset: 0;
	    outline: none;
	    -moz-outline-style: none;
	}
	a {
		&:hover,
		&:focus,
		&:active {
			color: $text-color;
		}
	}
	:focus {
		outline: none;
	}
	ul {
		margin: 0; 
		padding: 0;
		li {
			list-style-type: none;
		}
	}

	.form-control{
		&:focus{
			@include box-shadow(none);
		}
	}
	.img-hover{
		@include transition(all 0.3s ease);
		&:hover{
			opacity: 0.7;
		}
	}

	.txt-block {
		display: block;
	}
	.text-uppercase {
		text-transform: uppercase;
	}
	#pageCover {
	    position: fixed;
	    top: 0;
	    left: 0;
	    display: block;
	    z-index: 99999;
	    width: 100%;
	    height: 100%;
	    background: #f5f5f5;
	    &:before {
	    	content: "";
	    	position: absolute;
	    	top: 50%;
	    	left: 50%;
	    	width: 100px;
	    	height: 100px;
	    	@include transform(translate(-50%,-50%));
	    	background: url(../images/Ellipsis.gif) no-repeat;
	    	background-size: 100% 100%;
	    }
	}
/*=====  End of General style  ======*/
/*===============================
=            Spacing            =
===============================*/

	.padding-tb-30 {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.padding-tb-40 {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.padding-tb-50 {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.padding-tb-60 {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.padding-tb-110 {
		padding-top: 110px;
		padding-bottom: 110px;
	}

	.padding-b-145 {
		padding-bottom: 145px;
	}

	.padding-t-145 {
		padding-top: 145px;
	}



/*=====  End of Spacing  ======*/



/*======================================
=            Heading Title             =
======================================*/

/*----------  style 01 & stlye 02 ----------*/

	.heading-title {
		&.heading-style-01{
			text-align: center;
			text-transform: uppercase;
			.title-wrapp {
				display: inline-block;
			}
			.first-letter {
				font-size: 120px;
				font-weight: 500;
				color: $primary-color;
				line-height: 86px;
				font-family: $primary-font;
			}
			.title {
				margin:0;
				font-size: 14px;
				font-weight: 600;
				color: $text-color;
				padding: 6px 7px 0px;
				background-color: #FFFFFF;
				display: inline-block;
				position: relative;
				font-family: $primary-font;
			    text-align: left;
				&.case-1 {
					padding: 6px 15px 0px 7px;
					@include transform(translate(50%,-19px));
				}
				&.case-2,
				&.case-3 {
					@include transform(translate(50%, -19px));
				}
				&.case-2 {
					padding: 5px 45px 0 5px;
					margin-left: -30px;
				}
				&.case-3 {
				    padding: 6px 30px 0 0;
   					margin-left: -9px;
				}
				&.case-4 {
					padding:4px 15px;
					margin-left: -17px;
					@include transform(translate(50%, -37px));
				}
				&.case-5 {
					padding: 10px 6px;
					@include transform(translate(50%,-60px));
				}
			}
		}
		&.heading-style-02 {
			.title,
			.line-middle {
				display: inline-block;
				vertical-align: middle;
			}
			.title {
				position: relative;
				color: $heading-color;
				font-size: 24px;
				text-transform: uppercase;
				font-family: artless_groteskmedium;
				&.normal-text {
					text-transform: normal;
				}
				&.md {
					font-size: 20px;
					color: $primary-color;
					.line-middle {
						width: 132px;
					}
				}
			}	
			.line-middle {
				width: 106px;
				height: 1px;
				margin-left: 15px;
				background-color: $text-color;
			}
		}
	}
	
	.wp-single-title {
		margin-bottom: 58px;
		.single-title  {
			display: block;
			text-align: center;
			margin-top: 0;
			margin-bottom: 4px;
			font-weight: 600;
			font-size: 24px;
			letter-spacing: 0.7px;
			text-transform: uppercase;
		}
		.single-info {
			text-align: center;
			font-weight: 600;
			font-size: 15px;
			margin-bottom: 30px;
			.info-item {
				._item {
					display: inline-block;
					vertical-align: top;
					+ ._item {
						margin-left: 17px;
					}
				}
			}
			.lb-text,
			.text {
				font-size: 12px;
			}
			.lb-text{
				text-transform: uppercase;
				color: $primary-color;
				margin-right: 5px;
			}
		}
	}

	


/*=====  End of Heading Title   ======*/

/*==============================
=            Button            =
==============================*/

	.clear-padding-btn-move {
		&.margint-25 {
			margin-top: 25px;
		}
		.btn {
			text-transform: uppercase;
			padding: 3px 0;
			&:hover {
				color: $primary-color;
			}
		}
	}
	
	.btn {
		display: inline-block;
		padding:3px 10px;
		min-width: 175px;
		font-size: 14px;
		font-family: artless_groteskmedium;
		@include border-radius(0);
		@include transition(all 0.3s ease);
		&:focus,
		&:active,
		&:active.focus,
		&.active:focus,
		&.active.focus,
		&.focus {
			@include box-shadow(none);
			outline: 0;
		}
		.icons {
			margin: 0 3px;
			font-weight: 700;
		}
		.icon-txt {
			display: inline-block;
			margin: 0 3px 0 0;
		}
		&.capti-text {
			text-transform: capitalize;
		}
		&.btn-move {
			font-size: 18px;
			min-width: auto;
			color: $text-color;
		}
		&.btn-bg {
		    padding: 10px 52px;
		    min-width: 261px;
		    font-weight: 500;
		    position: relative;
		    overflow: hidden;
		    &.yellow,
		 	&.black {
		 		@include transition(all .3s ease-in-out);
		 		&:after {
					content: "";
					position: absolute;
					width: 0;
					bottom: 0;
					left: inherit;
					right: 0;
					height: 2px;
					@include transition(all .7s ease-in-out);
		 		}
		 		&:hover,
		 		&:focus {
		 			background-color: transparent;
		 			&:after {
		 				width: 100%;
		 				left: 0;
		 			}
		 		}
		 	}
		    &.yellow {
		    	background-color: $primary-color;
		    	color: $white-color;
		    	&:hover,
		    	&:focus {
		    		color: $primary-color;
		    		&:after {
		    			background-color: $primary-color;
		    			color: $primary-color;
		    		}
		    	}
		    }
		    &.black {
		    	background-color: $heading-color;
		    	color: $primary-color;
		    	&:hover,
		    	&:focus {
		    		color: $text-color;
		    		&:after {
		    			background-color: $text-color;
		    			color: $text-color;
		    		}
		    	}
		    }
		    &.border-bg {
	    	    padding: 5px 19px;
				min-width: 175px;
				@include border-radius(20px);
				&:after {
					display: none;
				}
				&:hover,
				&:focus {
					color: $white-color;
					background-color: $primary-color;
					&.yellow {
						background-color: $primary-color;
					}
				}
		    }
		}
		&.btn-line {
			padding: 5px 47px 4px 47px;
			border: none;
			border-top: 2px solid;
			border-bottom: 2px solid;
			&.yellow-br {
				border-color: $primary-color;
				color: $primary-color;
				&:hover,
				&:focus {
					border-color: $text-color;
					color: $text-color;
				}
			}
			&.black {
				border-color: $text-color;
				color: $text-color;
				&:hover,
				&:focus {
					border-color: $primary-color;
					color: $primary-color;
				}
			}
		}
	}

	.landing-back-top {
		text-align: center;
		padding-top: 135px;
		overflow: hidden;
	}

	.wp-back-to-top {
		position: relative;
		display: inline-block;
		cursor: pointer;
		@include transform(translateX(20px));
		padding-top: 10px;
		.line,
		.text {
			display: inline-block;
			vertical-align: middle;
		}
		.line {
			position: relative;
			width: 4px;
			height: 98px;
			background-color: $primary-color;
			&:before {
				content: "";
			    position: absolute;
			    top: 8px;
			    left: -21px;
			    width: 50px;
			    height: 24px;
			    border-bottom: 4px solid #c3a384;
			    border-left: 8px solid transparent;
			    @include transform(rotate(115deg));
			}
		}
		.text {
			font-family: $primary-font;
			font-weight: 600;
			font-size: 18px;
			color: $primary-color;
			@include transform(rotate(90deg) translateY(10px));
		}
	}

/*=====  End of Button  ======*/


/*==================================
=            RESPONSIVE            =
==================================*/

	@media (min-width: 1200px) {
		
		.container{
			width: 1030px;
		}


	}

	@media (max-width:767px) {

		.clear-padding-btn-move {	
			&.top {
				.btn {
					margin-top: 70px;
				}
			}
		}

		.txt-block {
			display: inline;
		}
		
		.padding-tb-60 {
			padding-top: 40px;
			padding-bottom: 40px;
		}

		.padding-tb-40 {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.padding-tb-30 {
			padding-top: 10px;
			padding-bottom: 10px;
		}

		.padding-b-145 {
			padding-bottom: 100px;
		}

		.padding-t-145 {
			padding-top: 100px;
		}

		.site-content {
			padding-bottom: 100px;
		}
		
		.landing-back-top {
			padding-top: 50px;
		}

		.heading-title {
			&.heading-style-02 {
				.title {
					font-size: 22px;
				}
				.line-middle {
					margin-left: 5px;
				}
			}
		}

		.btn {
			&.btn-move {
				font-size: 14px;
				&.margint-25 {
					margin-top: 0;
				}
			}
		}

		.wp-back-to-top.top2 {
			right: 10px;
			.line {
				height: 40px;
				width: 3px;
				&:before {
					left: -3px;
					top: 2px;
					width: 20px;
					height: 24px;
				    border-bottom: 3px solid $primary-color;
    				border-left: 3px solid transparent
				}
			}
			.text {
				font-size: 13px;
			}
		}

	}

	@media (max-width:667px) {

		.wp-single-title {
			font-size: 22px;
		}

	}

	@media (max-width:480px) {

		.wp-single-title {
			.single-info {
				margin-bottom: 15px;
    			margin-top: 15px;
			}
		}

	}

	@media (max-width:414px) {

		.wp-single-title {
			text-align: center;
			.single-info {
				.lb-text {
					margin-right: 0;
				}
			}
		}

	}

	@media (max-width:380px) {

		.heading-title {
			&.heading-style-02 {
				.title {
					.line-middle {
						width: 90px;
					}
					&.md {
						.line-middle {
							width: 90px;
						}
					}
				}
			}
		}
	}



/*=====  End of RESPONSIVE  ======*/
