@import "_mixins";

/*==================================
=            About Page            =
==================================*/

	.about-page {
		padding-top: 40px;
		padding-bottom: 0;
		.heading-style-01 {
			padding-bottom: 15px;
		}
		.concept-st {
			margin-bottom: 15px;
			>.heading-title  {
				margin-bottom: 15px;
			}
			.col-left{
				width: 28%;
				float: left;
				padding-left: 15px;
				padding-right: 15px;
			}
			.col-right {
				padding-left: 15px;
				padding-right: 15px;
				float: left;
				width: 72%;
				font-family: artless_groteskregular;
				font-size: 14px;
				line-height: 1.9;
				.desc{
					margin-top: -8px;
				}
			}
		}
		.outline-st {
			margin-bottom: 70px;
			>.heading-style-02{
				margin-bottom: 5px;
			}
			.subtitle {
				font-size: 18px;
				text-transform: uppercase;
				font-family: artless_groteskmedium;
				margin-bottom: 5px;
				color: #5F5C58;
			}
			.more-detail {
				p {
					margin-bottom: 0px;
					font-size: 13px;
					font-weight: 600;
				}
			}
		}
		.brand-wrapp{
			margin-bottom: 25px;
			.brand-block {
				&:last-child{
					margin-bottom: 0px;
				}
			}
		}
		.brand-block {
			display: table;
			width: 100%;
			max-width: 100%;
			border:1px solid $primary-color;
			vertical-align: middle;
			margin-bottom: 15px;
			&.mb-165 {
				margin-bottom: 165px;
			}
			&.mb-160 {
				margin-bottom: 160px;
			}
			&.mb-150 {
				margin-bottom: 150px;
			}
			&:last-child{
				margin-bottom: 0px;
			}
			&.pd-tb-30 {
				.col-right{
					padding: 30px 30px;
				}
			}
			.col-left,
			.col-right {
				font-family: $jp-font;
				font-weight: 600;
			}
			.col-left {
				display: table-cell;
				width: 300px;
				max-width: 300px;
				padding:7px 20px;
				color: $text-color;
				vertical-align: middle;
				font-weight: 600;
				letter-spacing: 4px;
				text-align: center;
				background-color: $primary-color;
				font-size: 15px;
			}
			.col-right{
				padding: 7px 30px;
				display: table-cell;
				vertical-align: middle;
				font-size: 15px;
				font-weight: 600;
				line-height: 1.8;
				.lb-text {
					color: $primary-color;
				}
				.line {
					display: block;
					height: 1px;
					background-color: $primary-color;
					width: 66px;
					margin:13px 0 8px;
				}
				.sm-lb-text {
					margin-bottom: 4px;
					color: $primary-color;
				}
				p {
					margin-bottom: 25px;
					&:last-child {
						margin-bottom: 0px;
					}

				}
			}
		}
		.brand-list {
			display: block;
			margin-left: -20px;
			margin-right: -20px;
			font-size: 0px;
			.brand-item {
				display: inline-block;
				vertical-align: middle;
				min-width: 130px;
				width: 25%;
				font-size: 13px;
				text-transform: uppercase;
				padding:10px 10px;
				text-align: center;
				img{
					max-width: 100%;
					display: inline-block;
				}
				.pic-wrap {
					min-height: 60px;
					line-height: 60px;
					+ .brand-title {
						font-size: 13px;
						margin-top: 10px;

					}
				}
				.brand-title{
					font-size: 24px;
					text-transform: uppercase;
					font-weight: 700;
					line-height: 1.5;
					color: $primary-color;
				}
			}
		}
		.contact-st {
			padding-top: 50px;
			padding-bottom: 0px;
			.heading-style-01 {
				padding-bottom: 0;
				margin-bottom: 30px;
			}
		}
		.landing-back-top {
			padding-top: 0px;
		}
	}
	.voice-guide-app-st {
		.heading-style-02{
			margin-bottom: 27px;
		}
		.voice-block {
			@extend .clearfix;
			width: 100%;
			display: block;
			margin-bottom: 45px;
			.image-wrapp {
				width: 36%;
				padding-right: 10px;
				float: left;
				img {
					width: 100%;
				}
			}
			.conrtent-wrapp {
				width: 64%;
				float: left;
				padding-left: 10px;
				.desc {
				    font-size: 12px;
					font-weight: 600;
					line-height: 1.95;
					margin-bottom: 35px;
				}
			}
			.title-st {
				@extend .clearfix;
				margin-bottom: 25px;
				.icon-wrapp {
					width: 120px;
					padding-right: 20px;
					float: left;
				}
				.title {
					margin-top: 0px;
					font-size: 22px;
					color: $primary-color;
					font-family: artless_groteskmedium;
					width: 70%;
					width: -moz-calc(100% - 120px);
					width: -webkit-calc(100% - 120px);
					width: calc(100% - 120px);
					float: left;
					clear: none;
					padding-top: 25px;
					line-height: 1.4;
				}
			}
		}
		&.block-style-01 {
			.title-st {
				margin-bottom: 0px;
				.title {
					color: $heading-color;
				}
				.btn {
					margin-bottom: 15px;
				}
			}
			.title {
				color: $heading-color;
				font-weight: 600;
				margin-top: 0px;
				margin-bottom: 20px;
				span {
					font-family: $jp-font;
				}
			}
			
		}
	}


/*=====  End of About Page  ======*/

/*==================================
=            RESPONSIVE            =
==================================*/
@media (min-width: 1200px) {
	
}
@media (min-width: 992px) and (max-width: 1199px){
	.about-page .brand-list .brand-item {
		min-width: initial;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.about-page .brand-list .brand-item {
		min-width: initial;
	}
	.about-page .brand-block .col-left {
		width: 230px;
		max-width: 230px;
	}
	.about-page .outline-st {
		margin-bottom: 80px;
	}
	.about-page .contact-st {
		padding-top: 80px;
	}
	.about-page .landing-back-top {
		padding-top: 40px;
	}
}
@media (max-width: 767px) {
	.about-page .brand-block .col-left {
		width: 180px;
		max-width: 180px;
	}
	.about-page .brand-list .brand-item {
		min-width: initial;
	} 
	.about-page .concept-st .col-right,
	.about-page .concept-st .col-left {
		width: 100%;
		float: none;
	}
	.about-page .concept-st .col-left {
		margin-bottom: 40px;
		text-align: center;
		img{
			margin: auto;
		}
	}
	.about-page {
		.brand-list {
			.brand-item {
				vertical-align: top;
			}
		 }
	}
	.voice-guide-app-st .voice-block .image-wrapp {
		width: 100%;
		padding-right: 0px;
		margin-bottom: 20px;
	}
	.voice-guide-app-st .voice-block .conrtent-wrapp {
		width: 100%;
	}
	.voice-guide-app-st .voice-block .title-st .title {
		padding-top: 0px;
	}
	.voice-guide-app-st .voice-block .conrtent-wrapp .link {
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 135px;
	}
	.about-page .landing-back-top {
		padding-top: 40px;
		overflow: hidden;
	}

}
@media (max-width: 667px) {
	.about-page {
		.brand-list {
			.brand-item {
				width: 33.33%;
			}
		 }
	}
}
@media (max-width: 480px) {
	.about-page .brand-block {
		width:100%;
		display: block;
	}
	.about-page .brand-block:before{
		content: "";
		display: table;
	}
	.about-page .brand-block:after {
		content: "";
		display: table;
		clear: both;
	}
	.about-page .brand-block .col-left {
		width: 100%;
		max-width: 100%;
		float: none;
		display: block;
	}
	.about-page .brand-block .col-right {
		display: block;
		width: 100%;
		float: none;
	}
	.about-page .brand-list {
		margin-left: 0;
		margin-right: 0;
	}
	.about-page .brand-list .brand-item {
		width: 50%;
	}
	.voice-guide-app-st .voice-block .title-st .title {
		font-size: 18px;
	}
	.voice-guide-app-st .voice-block .title-st .icon-wrapp {
		width: 100px;
	}
	.voice-guide-app-st .voice-block .title-st .title {
	    width: 70%;
	    width: -moz-calc(100% - 100px);
	    width: -webkit-calc(100% - 100px);
	    width: calc(100% - 100px);
	}
	.about-page .brand-list .brand-item .brand-title {
		font-size: 20px;
	}
}


/*=====  End of RESPONSIVE  ======*/
